[2021-12-06 09:59] boulderhead commented on #927
This is no longer an issue for me with the latest Fortnite update (Chapter3, Season 1).

[2021-12-06 13:43] gkatsaros16 commented on #927
yea me to

[2021-12-07 02:32] Richkan1 commented on #927
same here. not an issue anymore after the latest FN update

[2021-12-07 03:32] Cam9731 commented on #927
Can confirm, no longer an issue for me either!

[2021-12-07 03:32] #927 closed

[2021-12-07 05:34] riverar commented on #927
Wow, thanks all for the update! Sounds like Epic is on top of things over there.

[2021-12-07 05:54] riverar commented on #967
We have Chocolatey packages (as the README points out). You can also use AppInstaller (https://install.eartrumpet.app/master/EarTrumpet.Package.appinstaller). Or use our dev builds (see https://eartrumpet.app). Hope that helps!

[2021-12-07 05:54] #967 closed

[2021-12-08 17:34] mmonaghan commented on #205
As an interesting note, since Endwalker it is still possible to redirect audio through EarTrumpet if every time you launch the game you manually re-assign it to your desired device, the only issue I currently face is that whatever they changed with the expansion has caused it to always force itself to system default audio device on startup, and then allow redirections later.

Any ideas as to wheth

[2021-12-08 19:06] niktr opened #969 "Volume control freezes, app crashes with a memory access error, can't relaunch."
EventViewer Log:
[code]
when i try to start it manually from EarTrumpet.exe it gives me "access denied". I will run some Windows diagnostics to make sure this isn't another Microsoft spaghetti code issue.
Will update this post if i have new info.

[2021-12-08 19:34] riverar commented on #969
Your EarTrumpet is outdated (2.1.8.0), can you try updating?

[2021-12-09 09:52] 15156517753 opened #970 "软件在win11下。出现声音控制的面板叠加在一块，导致智能控制电脑的主声道，其他的程序的都被盖住了"
## Description
A clear and concise description of what the bug is

## Steps to reproduce
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Meta
* EarTrumpet version: 1.2.3.4
* Windows 10 version: 19042.746

## Screenshots
If applicable, add screenshots to help explain your problem.
![重启后](https://user-images.githubusercontent.com/63525702/145373897-0a1ed6ec-ea7b-4a99-8c2e

[2021-12-10 18:17] niktr commented on #969
my windows store was borked so it wouldn't update. I downloaded the dev build.

[2021-12-11 16:08] Geeyun-JY3 commented on #970
我建议你重新组织一下语言，然后用英文按模板填写相关信息。

[2021-12-15 08:51] riverar commented on #970
Please complete the issue form properly. Thanks!
请正确填写问题表格。谢谢！

[2021-12-15 08:51] #970 closed

[2021-12-15 08:52] riverar commented on #969
And how did it go?

[2021-12-16 17:36] niktr commented on #969
no crashes so far, but i'm having huge lag spikes while sliding the volume bar left and right on individual programs.
CPU usage goes up to 40% and doesn't drop until the slider stops moving.
![image](https://user-images.githubusercontent.com/19730922/146421019-c67ac45e-1c52-4f74-8d7a-88b9ef3f1dd7.png)

[2021-12-16 17:52] riverar commented on #969
All apps or just one?

[2021-12-20 11:12] MinekPo1 opened #977 "EarTrumpet loses programs when device disconect and is reconected. (for example bluetooth headphones)"
## Description
A clear and concise description of what the bug is

## Steps to reproduce
1. Have some programs on a device
2. Disconnect the device
3. Re-connect the device
4. The programs will not show in EarTrumpet

## Meta
* EarTrumpet version: 2.1.9.0
* Windows 10 version: 19042.1348

## Screenshots
If applicable, add screenshots to help explain your problem.

[2021-12-21 22:05] niktr commented on #969
just the ones currently playing multimedia. Youtube videos, mp4, webp, etc. Maybe an update tick issue?
(as in it could be solved by intentionally adding tick delay between volume updates instead of it being realtime)

then again... if this is an isolated issue, it could just be my crappy PC.

[2021-12-22 07:09] ASTERION-1995 opened #978 "Audio Spikes Bug When Alt+Tab"
## Description
Volume is suddenly spiking to max volume, whenever i alt tab ing between desktop back to game (the spikes is happening if im back in the game, not when im in desktop), this bug happened when im playing Genshin Impact
The volume is back to normal volume after 3 second i alt tab ing to my desktop
And this spike only occurs when im using bluetooth headphones (SONY WH1000-XM4 latest sof

[2021-12-22 18:34] scrable commented on #814
I was having this same issue. Many applications and other sound sources would not appear in the taskbar flyout. The solution for me was to restart EarTrumpet every boot after the Sound Blaster Command was done starting. To avoid manually doing this, I used [Startup Delayer](https://www.r2.com.au/page/products/show/startup-delayer/) to postpone launching EarTrumpet until the Sound Blaster Command i

[2021-12-25 13:23] wp231 opened #981 "Excessive resource consumption"
## Description
I opened Work Manager and found that the CPU resource usage reached 15%

## Meta
* EarTrumpet version: 2.1.9.0
* Windows 11 version: 21H2

## Screenshots
![2021-12-25_21-19-48](https://user-images.githubusercontent.com/56443833/147385814-8ae89d22-a122-4a1e-839e-63f04289a8de.png)

[2021-12-29 14:38] aries544 commented on #964
Hi, the same thing happens with Focus-ToDo, avery day I set the sound level to 10% but always return to 100%.

[2021-12-29 16:19] xmha97 opened #986 "Firefox (Microsoft Store) icon"
# Issue
I installed Firefox from Microsoft Store.
https://www.microsoft.com/store/productId/9NZVDKPMR9RD
![ EarTrumpet](https://user-images.githubusercontent.com/23485114/147680826-393dfc3e-9d41-41cd-835e-c6636cf644e4.png)
As you see in the image above, the Firefox (Microsoft Store) icon is not displayed correctly. ![Firefox Icon](https://user-images.githubusercontent.com/23485114/147681514-736f18

[2021-12-30 21:09] The-MAZZTer commented on #945
Seeing this in 2.1.9.12. I'm using Windows 11 if it matters. Didn't see this in Windows 10 but I also upgraded to a new version of Ear Trumpet around the same time (I was using a really old version). It happens all the time, restarting doesn't help.

It feels like the dialog is slow to open sometimes. It might depend on applications running or perhaps some weird bug with tracking the dialog open s

[2022-01-02 03:07] qaisjp commented on #391
Having a setting to turn off the animation entirely would be nice in the meantime.

[2022-01-02 05:48] riverar commented on #986
Thanks, can reproduce.

[2022-01-02 05:51] riverar commented on #981
Dupe of #956, #515, and #402.

![image](https://user-images.githubusercontent.com/475132/147867491-4ebd8841-380a-49a5-902c-bf03794a6a0d.png)

Please right-click EarTrumpet.exe and _Create dump file_, then send that to team@eartrumpet.app. Thanks!

[2022-01-02 14:55] xmha97 commented on #986
Sorry, I did not understand what you mean.

[2022-01-03 20:45] MatthewAlan opened #988 "EarTrumpet DLL errors"
I keep getting DLL errors for EarTrumpet 2.1.9.0 I have attached the troubleshooting data below.  I am not sure if it is the program or if my computer needs fixing and it causing EarTrumpet to have DLL errors.

If applicable, add screenshots to help explain your problem.
[tmpA62F.tmp.txt](https://github.com/File-New-Project/EarTrumpet/files/7803928/tmpA62F.tmp.txt)
[tmp95E2.tmp.txt](https://github

[2022-01-03 20:50] riverar commented on #988
@MatthewAlan Please do attach the screenshots.

[2022-01-05 05:26] riverar commented on #986
@xmha97 I was able to see the issue once, but cannot anymore. Are you still seeing this issue? What version of Firefox?

[2022-01-05 05:38] riverar commented on #986
OK I have a stable repro. I'll investigate and fix this.
![image](https://user-images.githubusercontent.com/475132/148166013-f416c058-e751-4729-87d2-5ad8703a4ec8.png)

[2022-01-05 09:38] xmha97 commented on #986
Yes, please install the Firefox from the following link:
https://www.microsoft.com/store/productId/9NZVDKPMR9RD

[2022-01-05 09:38] xmha97 commented on #986
Thanks.

[2022-01-07 14:39] Letrixix opened #990 "Mixer becoming bigger for no reason"
(using dev version)

![image](https://user-images.githubusercontent.com/87038960/148559510-d405315b-9288-471f-b549-5b539410c659.png)

i didn't do nothing and it just became like this.

[2022-01-08 04:36] riverar commented on #990
Possible duplicates: #439 #447

Did you resume from sleep? Are you at something other than 100% DPI?

[2022-01-08 13:02] Letrixix commented on #990
No, i don't put almost never my pc on sleep and, dpi of what?

Il giorno sab 8 gen 2022 alle ore 05:37 Rafael Rivera <
***@***.***> ha scritto:

[2022-01-08 14:07] PertR opened #995 "Not working after change sound source (speakers/headphones)"
Hi

little feedback

i have Sound Blaster Z
win 10 homo 21H1

 When i change sound source from spekears to headphones, Eartrumpet stops working and does not showing applications which are currently playing. Restarting Eartrumpet problem solves.

[2022-01-08 18:26] PIndividual opened #996 "Spotify not being displayed in the application windows"
## Description
A clear and concise description of what the bug is

## Steps to reproduce
open ear trumpet window while Spotify is playing in the background

## Meta
* EarTrumpet version: 2.1.9.0
* Windows 10 version: 19044.1415 (21H2)

## Screenshots
![image](https://user-images.githubusercontent.com/62368342/148655411-b27c89d5-ce2c-4e07-a3e2-b8f1e541e409.png)

[2022-01-09 10:22] qb20nh commented on #495
Left: EarTrumpet, right: system
![image](https://user-images.githubusercontent.com/1734074/148678242-ceeb3aa5-f3ad-4892-9a64-a34ccbd7470f.png)

[code]

[2022-01-11 20:15] riverar commented on #995
Thanks for reporting this. We are currently tracking SoundBlaster related issues with #574.

[2022-01-11 20:15] #995 closed

[2022-01-11 20:15] riverar commented on #996
@PIndividual Can you collect troubleshooting data via Settings > General and attach it here? Does this continue to happen if you restart EarTrumpet and/or Spotify?

[2022-01-11 20:20] roschlau commented on #391
Would like to add my voice to this - smooth animations would be nice, but completely disabling them would still be much preferable for me to the stutter that's occurring for me!

[2022-01-11 22:00] Rainbow3D opened #1001 "Just dosn't work"
The sound tray dosn't change. I tried uninstalling and re-installing the program multiple times but it just doesn't work (both from microsoft store and other places). I can uninstall it from widows search bar, but if I go in the control panel I don't see it show up with all the other apps (I don't think it's supposed to do so unless under a different name and icon). When I look in task manager it

[2022-01-11 22:02] riverar commented on #1001
@Rainbow3D Sounds like you may not be clicking the right icon. Did you drag the EarTrumpet icon out of the overflow area? (GIF below)

![Welcome GIF](https://user-images.githubusercontent.com/475132/149028395-8b62440b-b0a6-4d0c-9d38-143812e05eb2.gif)

[2022-01-11 22:06] Rainbow3D commented on #1001
The Icon is the same one that it shows in the preview yes. But the tray that comes up is still the one from Windows, as if the app wasn't installed at all.

[2022-01-11 22:08] riverar commented on #1001
@Rainbow3D Can you share a video or screenshot of the area with the overflow area expanded? There should be two icons at first that look identical (confusing I know).

[2022-01-11 22:11] Rainbow3D commented on #1001
Yes, found it, and it obviuly works, I remembered that it changed how the original icon behavend, not adding another one. Now I feel dumb for making an account just over this. Thanks for your help and sorry fow wasting your time...

[2022-01-11 22:12] riverar commented on #1001
@Rainbow3D Not a waste and don't feel bad at all. Feel free to reach out if you need anything else my friend. 👍

[2022-01-11 22:12] #1001 closed

[2022-01-11 22:13] riverar commented on #990
Was just curious if your system DPI / scaling was set to something other than 100%.

Example from Windows 11:
![image](https://user-images.githubusercontent.com/475132/149029746-f1732087-dc2e-44e3-ab53-a6c62d865359.png)

[2022-01-12 01:16] thany opened #1004 "Provide an installer download"
## Description
There is no installer to download. This is a perfectly fine, well-accepted, and vastly common way to install anything on Windows.

You might not like it, but users do. Please make a normal installer. Make it with Microsoft technology (MSI) if you must, but please make a regular ol' downloadable installer.

Winget and chocolatey are not good (to put it lightly). Not even for me as a

[2022-01-12 03:55] rootexpression commented on #1004
Seconded.

[2022-01-12 06:15] riverar commented on #1004
Hey @thany @rootexpression, as mentioned in numerous other threads, we are not providing a standalone installer. To do so would require us to take on the burden of hosting the files, maintaining the installer, doing all the work of actually updating the files on disk, etc. in perpetuity. In other words, working on all that takes us away from working on the core app. Thankfully, these are all probl

[2022-01-12 06:15] #1004 closed

[2022-01-12 09:51] thany commented on #1004
Hosting the installer is a problem even though your are perfectly able to host the rest of the website? Seems like a non-issue. It would (or should) end up in Github's releases, and a link on the homepage. I don't see why that's so difficult.

Like the currently available packages. So that's also a non-issue.

The installer does that. Now you're just making excuses. You don't have to make an insta

[2022-01-12 10:41] riverar commented on #1004
Is there something preventing you from using the appxbundle above? It's the same thing.

[2022-01-12 11:08] EmberHeartshine commented on #1004
As I mentioned in #840, expecting someone to install an entire framework to keep *one* program up to date is absurd. That's like saying, "just set up rpm on your Debian system, it's really easy!" While technically true, it's entirely counterproductive.

[2022-01-12 12:15] GoldenTao commented on #1004
@EmberHeartshine Have you tried the appinstaller listed above in Raf's comment?  No framework required as per your requirements.

[2022-01-12 12:27] EmberHeartshine commented on #1004
The MSIX system that requires the WUP framework?

[2022-01-12 16:21] thany commented on #1004
It's not. It requires a working Store and backing services. Not available everywhere (not only geographically, think enterprises/corporate scenarios, or just Microsoft bollocksing up again). And it only works in Windows 10. And it doesn't install where applications are expected to be installed (C:\Program Files) not does it allow a choice for that. And it can't install "for all users". And it's no

[2022-01-12 16:22] riverar commented on #1004
It doesn't "require UWP".

[2022-01-12 16:23] thany commented on #1004
It does if you take this sorry excuse for an """"installer"""":

[2022-01-12 16:23] EmberHeartshine commented on #1004
Uh, okay, [tell that to Microsoft](https://docs.microsoft.com/en-us/windows/msix/package/packaging-uwp-apps) then.

[2022-01-12 16:25] thany commented on #1004
Anyway, a normal installer is *just how it's done in the Windows world*. Period.

If you don't like it, stop making Windows software and move over to Linux. Package managers are the norm there. You'll _love_ it.

[2022-01-12 16:57] Letrixix commented on #990
i have 150% on a 4k resolution. anyways, a lot of things happened: the
mixer seemed to become normal, but it was like moved to the right making it
"cut", and randomly it just returned back to normal.

Il giorno mar 11 gen 2022 alle ore 23:13 Rafael Rivera <
***@***.***> ha scritto:

[2022-01-12 18:15] riverar commented on #1004
Our AppInstaller / MSIX bundles don't need the Microsoft Store or "the UWP framework" (not a real thing). But because there appears to be some ongoing confusion about each of these options, I'll work on more detailed installation documentation that covers installation of EarTrumpet on all consumer and enterprise versions of Windows.

I'd like to understand, however, how you are specifically blocke

[2022-01-12 18:18] EmberHeartshine commented on #1004
If you're not going to read the documentation provided to you, I'm checking out of this conversation.

[2022-01-12 18:49] riverar commented on #1004
@EmberHeartshine I don't understand the point you're trying to make. You linked to an article on how to package an app with MSIX. Can you be more specific?

To give you a peek behind the scenes: EarTrumpet is Desktop Bridge (previously called Project Centennial) app. Whether or not these are considered "UWP apps" is a gray area so I won't call it that. But I was just pointing out that there's no s

[2022-01-12 21:26] thany commented on #1004
The fact that 4 million users (I don't believe that, but for the sake of argument, let's say it's correct) are putting up with the absence of an installer, doesn't mean that it isn't a problem. I just don't understand why you keep defending the poor choice of not having a proper installer. You really are embarassing yourself.

You'd do good to either say "sorry, you're right, every program has its

[2022-01-13 00:55] riverar commented on #1004
Let's say we packaged the app with a magical technology that you approve of. How do you propose we keep these EarTrumpet users up to date?

[2022-01-13 04:41] riverar commented on #1004
Locking this thread as it's no longer productive.

[2022-01-13 09:35] thany opened #1013 "Provide an installer"
## Description

There is no installer to download. This is a perfectly fine, well-accepted, and vastly common way to install anything on Windows.

You might not like it, but users do. Please make a normal installer. Make it with Microsoft technology (MSI) if you must, but please make a regular ol' downloadable installer.

Winget and chocolatey are not good (to put it lightly). Not even for me as a

[2022-01-13 09:51] riverar commented on #1013
@thany We hear you loud and clear. We have no plans to address this at this time but we'll certainly keep in mind.

[2022-01-13 09:51] #1013 closed

[2022-01-13 22:15] riverar commented on #996
Closing due to inactivity. Feel free to re-open when you have the requested troubleshooting data.

[2022-01-13 22:15] #996 closed

[2022-01-13 23:46] riverar commented on #990
Got it. This is a dupe of #888 and fixed in dev builds. I'll push this out to all EarTrumpet users soon, thanks for reporting!

[2022-01-13 23:46] #990 closed

[2022-01-13 23:50] PIndividual commented on #996
Sorry, I overwritten eartrumpt with the latest beta build without collecting data after the scene happened, so sorry I cannot get you the data.

[2022-01-13 23:53] riverar commented on #996
@PIndividual No problem, next time it happens just let us know!

[2022-01-14 03:56] riverar commented on #988
Closing due to inactivity. If you get any error messages or screenshots, feel free to paste them here / re-open the issue.

[2022-01-14 03:56] #988 closed

[2022-01-14 03:59] riverar commented on #948
Closing due to inactivity.

[2022-01-14 03:59] #948 closed

[2022-01-15 00:24] svenwml commented on #820
@riverar Is the support for loading addons from the documents location still on the ToDo-list?

[2022-01-15 17:17] xXShadowMcXx opened #1019 "Ear Trumpet and Spotify BUG With launching Games!!"
### Summary

Spotify App/Apps in General and Game Launching specifically the New Mass Effect Legendary Edition on X-Box Game Pass

OS; Windows 11
CPU; AMD RYZEN 5 2600 GPU;
NVIDIA RTX Motherboard;
ASUS Prme X$70 Pro
WIFI/Blu-tooth; AX200NGW WiFi 6 Card Bluetooth 5.1 AX3000M PCIe

### Steps to reproduce

I was Listening to Spotify over my Blue-tooth Speaker. I had set Spotify to Play that App throu

[2022-01-17 11:35] Joshdw commented on #446
Bumping this, it's still an issue 2 years later :(

[2022-01-18 06:57] AnjanaJK opened #1027 "EarTrumpet not working"
### Summary

So I just installed the application and when I click on the Windows Volume icon, nothing seems to appear. As per the video demonstration, i am not getting the similar output. I have also restarted the pc. I have attached a screenshot below.

### Steps to reproduce

![issue1](https://user-images.githubusercontent.com/97173715/149886007-fedde063-ae1e-4fc2-bd37-62eca9b23e1a.png)
![issue2

[2022-01-18 09:06] tomo2403 commented on #1027
Start the app from start menu and look for the other speaker symbol in tray icons. You can disable the default icon in the settings app.

[2022-01-18 12:39] Slegnor commented on #957
Any update on this?  Is it a known issue being worked on?

[2022-01-18 17:56] Jazzmega opened #1028 "Remember settings"
Hi! EarTrumpet doesn't remember the app settings in my PC with Windows 11.

Standard mixer neither remembers settings.

For instance:
If I set Chrome at 50% volume. When I close it and open it again, it is set at 100% again.

Any solution? thanks a lot for your work

[2022-01-18 23:48] M0RT1M4R opened #1029 "Scrolling EarTrumpets device with 'ThinkPad Compact Keyboard' kills its scroll function"
**what I'm doing**
- open EarTrumpets device list (left click the taskbar symbol)
- expand the device list
- trying to scroll up or down that list with ThinkPad Compact Keyboard
- happens with version 2.1.9.0 as well as dev version 2.1.9.18

**issue**
immediatly with the scrolling a "HScroll Application" window pops up, saying "HScroll Application has stopped working > A problem caused the program

[2022-01-19 06:55] riverar commented on #1029
@M0RT1M4R Hi there, interesting issue. Can you confirm this is the device you are using? https://www.lenovo.com/us/en/p/accessories-and-software/keyboards-and-mice/keyboards/0b47190

[2022-01-19 06:56] riverar commented on #1027
Sounds like you're not clicking the EarTrumpet icon. Make sure it's not hidden away in the overflow area.
![welcome](https://user-images.githubusercontent.com/475132/150079677-f238ad3c-2bb8-4aed-9c21-1981c7b25991.gif)

[2022-01-19 07:00] riverar commented on #1027
Closing for now, but feel free to continue the discussion and re-open if needed!

[2022-01-19 07:00] #1027 closed

[2022-01-19 07:03] riverar commented on #1028
Thanks @Jazzmega for the kind words. We're already tracking this request via https://github.com/File-New-Project/EarTrumpet/discussions/649 so closing this out. Windows unfortunately doesn't do a great job at remembering audio levels.

[2022-01-19 07:03] #1028 closed

[2022-01-19 07:04] riverar commented on #1019
@xXShadowMcXx Thanks for the interesting report. I don't see how EarTrumpet caused this but I'd be interested if you can reproduce this. If you can, try closing EarTrumpet -- does the problem go away?

[2022-01-19 07:16] riverar commented on #1029
Looks like this is a known issue with Lenovo's app/driver https://forums.lenovo.com/t5/Displays-Options-and-Accessories/ThinkPad-Compact-Bluetooth-Keyboard-with-TrackPoint-Scrolling-stops-working-in-VS2017/m-p/3970470?page=1

But if you can confirm that's the hardware, I'll buy one and try it myself.

[2022-01-19 07:34] AnjanaJK commented on #1027
I got it! Thanks!

[2022-01-19 09:54] aglavic opened #1031 "NVIDIA boradcast not showing up in Volume Mixer"
### Summary

I'm using NVidia broadcast for some applications as output device. This software pipes the output of a program through some filter and then outputs it to another audio device.
When opening the EarTrumpet Volume Mixer it shows all my other output devices but not the NVidia broadcast so I can't set the import application volumes separately.

### Steps to reproduce

Install NVidia broadc

[2022-01-21 22:37] stressatoo opened #1032 "Microphone icon in Eartrumpet?"
### Summary

There's a microphone icon in Eartrumpet, if you hover the mouse on it's gonna show you the microphone name, I just don't get why it's here since sliding it won't change the volume. I believe what causes it is using once the "playback" option in the windows audio settings, to hear your own voice.

### Steps to reproduce

1. Open EarTrumpet
2. Look for a mic icon

### EarTrumpet version

[2022-01-21 22:37] stressatoo commented on #1032
![image](https://user-images.githubusercontent.com/60473020/150609332-28afb8e0-f05a-4c92-b2ef-6857f99258dd.png)

[2022-01-23 15:54] Piwielle commented on #902
Hey. Just to add to this, since I think it's relevant, I have the exact same issue, with the same symptoms, when switching between speakers/headphones with my sound card software (Sound Blaster).

I've followed your instructions and did a log.
[tmp4DF4.tmp.txt](https://github.com/File-New-Project/EarTrumpet/files/7920789/tmp4DF4.tmp.txt)

I'm running
- EarTrumpet v 2.1.9.0
- Windows 11, build 2200

[2022-01-25 10:20] Petah commented on #140
Yea this doesn't work the same way as the windows one. On the windows one, you can use the mouse wheel when not hovering the menu/icon (i.e. over another window). But EarTrumpet you have to either hover the menu or icon.

[2022-01-26 11:56] batashahh commented on #848
Did you ever find out a way to make fxsound work with eartrumpet ?

[2022-01-27 18:08] DigitalNXZ commented on #1032
I have an older version~
I think it is related to threads like #99 #269 #302 etc

May a Feature (still in work)? would really be happy if its related to those ^^

[2022-01-28 10:34] Outpizza opened #1044 "EarTrumpet re-enables itself at startup"
### Summary

When I turn disable EarTrumpet in the Startup tab in my Task Manager, it re-enables itself the next time the computer is turned on.

### Steps to reproduce

1. Go to the Startup tab in Task Manager
2. Disable EarTrumpet
3. Restart computer

### EarTrumpet version

2.1.9.0

### Windows version

10.0.19044.1466

### Additional information

_No response_

[2022-01-29 21:20] stressatoo commented on #1032
Hi, thanks for the reply. That's also what I thought, at first, but lowering it doesn't change the mic volume.

[2022-01-31 18:11] veremenko-y commented on #956
I sent my dump just now. I had to upload it to MEGA because it's like 600MB... Changing the volume in the mixer is what's triggering high CPU usage. It takes 1-3 seconds to change the slider location.
Looking at the ETW trace it seems like one thread is getting really stuck in MediaNotificationWorker, UI thread seems to be just waiting for the message, I assume it's blocking on the notification re

[2022-02-01 17:44] LTHPKBTE opened #1049 "Volume flyout does not show apps after enabling spatial audio APO"
### Summary

After adjusting the spatial sound effect of the playback device, the volume mixer displays empty.

### Steps to reproduce

![图片](https://user-images.githubusercontent.com/53574505/152020941-6d3c2d11-4524-47c9-90e7-ad9bf1b6c516.png)
![图片](https://user-images.githubusercontent.com/53574505/152020973-704dfec3-eeb6-4e72-aed8-e2537409abd2.png)
![图片](https://user-images.githubusercontent.co

[2022-02-01 18:17] riverar commented on #1049
@LTHPKBTE Thanks, great report and English. I will investigate this.

[2022-02-04 12:15] github-user1112 opened #1052 "laggy when clicking on icon"
### Summary

not a major issue or anything but when i click on the icon it goes up 90% of the way smoothly and then kind of jumps the rest of they way and its a slight nuisance.

### Steps to reproduce

just click the icon in the tray

### EarTrumpet version

2.1.9.0

### Windows version

10.0.19044.1466

### Additional information

_No response_

[2022-02-05 19:14] constroyer commented on #313
Any updates on this issue. I would hope it has been resolved by now

[2022-02-09 15:15] issaac07 opened #1057 "I can't open the volume window even if I press the speaker icon."
### Summary

If you click the speaker icon to open the window and press the speaker icon to close the window, the window does not open even if you press the speaker icon after that.

https://user-images.githubusercontent.com/99344868/153229052-4a12d010-6100-4050-94a3-f33b75ae7c4b.mp4

### Steps to reproduce

1. Click on the speaker icon (volume window opens)
2. Click on the speaker icon (volume wi

[2022-02-10 11:11] LemmusLemmus commented on #1049
I have the same problem. Every single time I change the spatial audio I also have to restart EarTrumpet, since all applications started before the spatial audio change will be hidden in the EarTrumpet menu.

I often switch between spatial sound off and Dolby Atmos. Additionally, if I have Dolby Atmos enabled when I turn off my PC, Windows will, very annoyingly, boot with Windows Sonic enabled. As

[2022-02-11 20:26] PierogiPL opened #1060 "Changing App audio"
I connected a hdmi cable from my laptop to a samsung tv and i want my browser to output audio and another app to output audio in my laptop speakers but after a long time i havent been able to figure out how to do it

[2022-02-13 07:42] Fus-RoDah opened #1061 "Can't save my settings after software restarted"
### Summary

Every time I restart softwares ,the software volume will all back to 100%.
For example:I turned down the Chrome volume to 30%,but after restart Chrome ,the Chrome volume will back to 100%.

### Steps to reproduce

1.Turn down one software volume
2.Restart the software
3.Get 100% volume

### EarTrumpet version

2.1.9.0

### Windows version

Win10 20H2 version:19042.1526

### Additional

[2022-02-13 18:15] Galamooth opened #1062 "error 0xC0EA000A no se puede reinstalar"
### Summary

use mi disco duro en otra pc, cuando volví aquí me salian problemas con el id de la aplicacion por lo que decidi borrarla y reinstalarla pero ya no me dejo. instalar nueva mente me aparece error 0xC0EA000A "hubo un problema de nuestra parte"..  ayuda!!!

### Steps to reproduce

![Captura de pantalla (3)](https://user-images.githubusercontent.com/90434643/153768758-b4dd105c-ff84-4882-a

[2022-02-13 20:14] mariobrostech opened #1063 "EarTrumpet fails to start when no internet connection is present"
### Summary

When setting EarTrumpet to automatically open on startup, it fails to launch unless an internet connection had been established before the program launches. As someone who prefers to manually connect to my Wi-Fi network for security reasons, this presents a major inconvenience to me. Additionally, my laptop, which is set to automatically connect to my home Wi-Fi, also occasionally fai

[2022-02-14 00:25] riverar commented on #1063
Hm, I can't reproduce this. Are you on Windows 10 Pro or something different? Was this app grabbed from the Store directly or installed via AppInstaller or other means? How long was this machine without Internet access?

[2022-02-14 00:50] mariobrostech commented on #1063
Hi there, thanks for looking into this! I'm currently running Windows 10 Pro, and the app was installed directly via the Microsoft Store. The PC in question is always connected to the internet, with the exception of it being disconnected on boot due to auto-joining Wi-Fi networks being disabled.

[2022-02-14 05:51] riverar commented on #1063
@mariobrostech Interesting hm. Is Wi-Fi your only Internet access method? (No Ethernet, right?)

For some reason, the Microsoft Store thinks it's necessary to _license_ a free app and that license (for whatever reason) is expiring, not getting installed, etc. hence the error. It's out of our control but I do want to narrow this down to file a bug on Windows.

[2022-02-14 07:27] mariobrostech commented on #1063
@riverar Thanks again for looking into this for me. I will occasionally use Ethernet, but it’s usually something that I switch to after the PC has already been booted for a while, making it irrelevant for a boot-time issue like this. It doesn’t seem to happen on every boot, but that’s again because my Wi-Fi sometimes connects before EarTrumpet loads, and sometimes it takes a little while longer to

[2022-02-15 10:18] commercial-sample123 opened #1066 "Chrome Profiles"
### Summary

So i was just doing my online classes today on my university's chrome profile and doing some other stuff on my personal chrome profile. I wanted to reduce the volume of my class(which is on gmeet ) but continue to have the same volume on my personal work. So I open eartrumpet and just see 1 chrome icon in eartrumpet  due to which i am not able to control the profile volumes induvidual

[2022-02-15 16:05] GGabi0101 opened #1067 "After Restart from pc the system volume is set to 100%"
### Summary

I have to say, that i hate that the system volume is so loud. In my opinion it should stay at 10% forever. But every time when i restart my computer the System volume is back to 100%. The volume of every other program is normaly saved from earTrumpet...

Dont get me wrong, i love this tiny little extra for windows. it looks so natrual that nobody would notice that it is  a third party

[2022-02-17 01:46] Oregoncat commented on #477
I cure it by ending the Eartrumpet task then restarting it.

[2022-02-21 12:04] Utsav-Murudi opened #1071 "Icon in taskbar looks weird"
### Summary

![image](https://user-images.githubusercontent.com/76831372/154948233-2c996f5d-8be1-4f17-94b0-638f3e05a4a9.png)

### Steps to reproduce

Just observe the taskbar

### EarTrumpet version

2.1.9.0

### Windows version

10.0.22000.493

### Additional information

_No response_

[2022-02-21 13:51] STONE-Git opened #1072 "Volume mixer becomes empty within tens of seconds after EarTrumpet is turned on"
### Summary

Volume mixer becomes empty randomly within tens of seconds each time after EarTrumpet is turned on. Only the Volume mixer of EarTrumpet becomes empty. The Volume mixer of the system seems fine. It happens immediately after changing the default device, but also happens without changing the default device.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/63118

[2022-02-22 16:43] Tencryn commented on #1057
I noticed this too. It will re-open if you don't click it for a while but this behaviour makes the application feel unresponsive and sluggish.

[2022-02-22 16:53] #1057 closed

[2022-02-22 16:55] riverar commented on #1071
This typically happens at non-standard DPI/scaling percentages. Can you paste the top 30 lines or so of your troubleshooting data log (see Settings > General > About)? You're looking for `systemDpi` and `taskbarDpi`.

[2022-02-22 17:11] Tencryn opened #1074 "Auto-hiding taskbar does not remain open"
### Summary

The default volume control will keep the taskbar open while open, but EarTrumpet does not keep the taskbar open. I'd like the taskbar to remain open, but I'll accept a setting incase others do not like this behaviour.

### Steps to reproduce

Set your taskbar to auto-hide, and click on EarTrumpet. Taskbar will hide while EarTrumpet remains open.

### EarTrumpet version

2.1.9.0

### W

[2022-02-22 17:19] riverar commented on #1074
There's no API that we're aware of to do this, sadly. It's an internal shell behavior.

[2022-02-23 02:06] FroggyRaven commented on #1052
i have this too

[2022-02-23 02:12] FroggyRaven opened #1075 "eartrumpet stays on screen when you have a full screen app open"
### Summary

it just stays on the full screen app until you go back to the taskbar and close it

### Steps to reproduce

have a full screen app open, press the windows key, click on the eartrumpet icon and click on the full screen app
![Screenshot_21](https://user-images.githubusercontent.com/85956701/155250873-690c7b87-0ebf-4f14-96a5-243938f7d68f.png)
![Screenshot_22](https://user-images.githubus

[2022-02-23 02:14] riverar commented on #1071
@Utsav-Murudi It's no trouble. We're using a system raster-based icon (and not a vector-based icon like Windows 11 uses these days), so it only supports a handful of common scaling percentages (e.g. 200%). We're aware of this deficiency and are looking to migrate to a newer icon for Windows 11 + machines.

[2022-02-23 02:15] riverar commented on #1052
Thanks, we're currently tracking this via #391. It's a known issue with our combination of Microsoft technology (Acrylic backdrop, WPF host, etc.).

[2022-02-23 02:15] #1052 closed

[2022-02-23 02:19] FroggyRaven commented on #1075
and also for some reason when i click it it pops up in very laggy motion

https://user-images.githubusercontent.com/85956701/155251537-730a0c24-e280-4b55-8b81-f4ef7e022c66.mp4

[2022-02-23 02:20] #1075 closed

[2022-02-23 02:28] riverar commented on #1075
Got it. Fullscreen issue is dupe of #311. Laggy flyout is dupe of #391.

[2022-02-23 02:32] FroggyRaven commented on #1075
#311 <https://github.com/File-New-Project/EarTrumpet/issues/311> was posted
4 years ago and #391
<https://github.com/File-New-Project/EarTrumpet/issues/391> was posted 3
years ago, not to be rude but shouldn't that be fixed by now?

On Tue, Feb 22, 2022 at 9:28 PM Rafael Rivera ***@***.***>
wrote:

[2022-02-25 22:02] badaszszsz opened #1079 "EarTrumpet do not show some applications when old application like Anno 1602 is started"
### Summary

After starting some "old" application I do not see the applications lists.

I will investigate the issue and suggest fix I have.

![image](https://user-images.githubusercontent.com/86535475/155808917-ee8c645f-e648-424c-8e5d-78f263b06856.png)

Windows 11.

### Steps to reproduce

Start Win 11
Start Anno 1602
Minimalize it and see no apps in ET.

### EarTrumpet version

2.1.9.5

### Win

[2022-03-03 22:40] the-simian commented on #438
I can confirm this is happening as well in multi-monitor situations. It opens the first time. in second, third openings it doesn't.

If you wait long enough, roughly15 seconds, then click again later - it will eventually work. (Could this be related to the `DiscreteObjectKeyFrame's` `KeyTime` prop?

See the gif, you cannot just open-close-open-close.

![eartrumpet](https://user-images.githubuserco

[2022-03-03 22:57] riverar commented on #438
Thanks, this should already be fixed in dev builds. I haven't pushed out an update though, so that's my bad. Can you verify with a dev build? (You can click the link on the EarTrumpet homepage https://eartrumpet.dev.)

[2022-03-04 04:07] the-simian commented on #438
@riverar I installed it via scoop, I did notice there was a dev build via scoop.. should this be identical?

[2022-03-06 03:43] JkleSXB commented on #1067
Hello, same thing here, and now even if I desinstall EarTrumpet the problem remains. Any clue on how to fix this ?

[2022-03-06 06:18] riverar commented on #1067
Neither Windows or EarTrumpet save volume levels, so there's nothing to _fix_. Sorry. Dupe of #315.

[2022-03-06 06:18] #1067 closed

[2022-03-11 11:36] RakibPro opened #1086 "app icon is not showing"
### Summary

Spotify app icon is not showing

### Steps to reproduce

fix this problem

### EarTrumpet version

EarTrumpet Version : 2.1.9.0

### Windows version

Windows Version : 10.0.19044.1586

### Additional information

![EarTrumpet_Bug](https://user-images.githubusercontent.com/71222636/157859400-222c1242-eefd-4457-a652-610cf3a77c87.png)

[2022-03-12 00:48] tech189 commented on #438
@the-simian Scoop's `eartrumpet` package in Extras is the stable version, but there is no 'official' dev version - so no, it's not identical to the dev build on https://eartrumpet.dev/.

@Siphalor made a package for the dev build but it is out of date because their bucket's CI isn't working atm (I recommend they check out https://github.com/ScoopInstaller/BucketTemplate for an up-to-date GitHub Ac

[2022-03-13 08:31] Siphalor commented on #438
Ah, thanks for letting me know,  I fixed it so it's now delivering the latest dev version again :)

[2022-03-16 00:31] lediur opened #1090 "Mouse wheel on icon in systray no longer changes the volume (Windows 11 Insiders)"
### Summary

In the past, I was able to change the global system volume by scrolling the mouse wheel on the systray icon. This functionality seems to have broken in recent Insider builds of Windows 11.

Unfortunately, I just noticed this today so I'm not sure if the feature was broken this build or in a previous build.

### Steps to reproduce

- Attempt to change volume by using the mouse wheel on

[2022-03-16 00:38] riverar commented on #1090
Yeah, Microsoft broke this. I filed a bug here https://aka.ms/AAgahkf so we'll see what happens. Am keeping a **very** close eye on this as you can imagine.

[2022-03-16 00:39] lediur commented on #1090
Oh word, thanks for the heads up!

[2022-03-16 12:25] Venkinovec opened #1092 "After Windows10 update EarTrumpet won't start D3D9.dll error"
After Windows updated itself overnight, aplication won't start, no error, just loading circle on cursor very briefly.
After that I can find these errors repeating in Event Viewer after trying to open the app.
.NET Runtime Error
`Aplikace: EarTrumpet.exe
Verze Framework: v4.0.30319
Popis: Proces byl ukončen z důvodu neošetřené výjimky.
Informace o výjimce: kód výjimky c0000005, adresa výjimky 667FD

[2022-03-16 21:18] riverar commented on #1086
Closing this issue as there's not enough information provided and I can't reproduce it. Feel free to provide more info / re-open!

[2022-03-16 21:18] #1086 closed

[2022-03-16 22:11] riverar commented on #1079
Hm, I tried the GOG version and it appears. Can you share more details on what version you're using?

![image](https://user-images.githubusercontent.com/475132/158699732-a75a4279-f6d0-471f-8909-8cd4f7c19cf3.png)

[2022-03-16 22:24] riverar commented on #1072
@STONE-Git Thanks for the bug report. Can you explain how you are switching devices? Is this via an external switch? Unplugging something? Trying to reproduce this here and so far I can't. Thanks!

[2022-03-16 22:32] riverar commented on #1066
Chrome takes the audio from all tabs and emits them all grouped together, sadly. Neither Windows or I can do anything here, without perhaps a Chrome add-in of sorts. A similar enhancement was brought up years ago here #239.

You might be able to utilize [Chrome Site Isolation](https://www.chromium.org/Home/chromium-security/site-isolation/#:~:text=above%20(e.g.%2C-,[--site-per-process](https://www

[2022-03-16 22:32] #1066 closed

[2022-03-16 22:37] riverar commented on #1062
0xC0EA000A is `ERROR_CLIP_LICENSE_DEVICE_ID_MISMATCH`. I can't reproduce this or help with Microsoft Store issues here, so I will close this / report this to Microsoft. In the meantime, please try using one of the alternate ways to install EarTrumpet (https://github.com/File-New-Project/EarTrumpet#install). Thanks!

Translated:
0xC0EA000A es 'ERROR_CLIP_LICENSE_DEVICE_ID_MISMATCH'. No puedo reprod

[2022-03-16 22:37] #1062 closed

[2022-03-16 22:41] riverar commented on #1061
This is not currently a EarTrumpet feature/bug; Windows is _supposed_ to do this for you, but it's been broken across several releases with no real fix in sight. We have a few issues in this repository tracking this so I will close this one.

In the meantime, you could try using a developer build (see https://eartrumpet.app), which has EarTrumpet Actions, which will allow you to set up profiles to

[2022-03-16 22:41] #1061 closed

[2022-03-16 22:44] riverar commented on #1060
@PierogiPL Have you tried right-clicking on the app in EarTrumpet? You can click the double arrows and use the options there to redirect audio where you need it.

![image](https://user-images.githubusercontent.com/475132/158703414-91e6a58f-d1c6-489c-9977-23f98a6aa3ef.png)

Going to close this as it's not an issue in EarTrumpet, but feel free to continue the discussion.

[2022-03-16 22:44] #1060 closed

[2022-03-16 22:58] riverar commented on #1044
We don't do anything special here, but this area has been pretty buggy in Windows across the past few releases.

You can manually open Registry Editor and navigate to `Computer\HKEY_CURRENT_USER\Software\Classes\Local Settings\Software\Microsoft\Windows\CurrentVersion\AppModel\SystemAppData\40459File-New-Project.EarTrumpet_1sdd7yawvg6ne\EarTrumpet` and set `State` to `1`.

![image](https://user-im

[2022-03-16 22:58] #1044 closed

[2022-03-16 23:06] riverar commented on #1031
![image](https://user-images.githubusercontent.com/475132/158705531-b3e213fd-6453-421a-a496-04d87d48274d.png)

Hey @aglavic, cool app. Never heard of this until now.

Not seeing the issue here though. I set my primary audio device to my headset, sent Spotify output through NVIDIA Broadcast, then opened the flyout you see above.

[2022-03-17 00:32] riverar commented on #1092
![image](https://user-images.githubusercontent.com/475132/158713346-eb42d09e-b911-49c0-9b07-896932109fe1.png)

Hi @Venkinovec! Not seeing any issues here. Sounds like you maybe have an app that's hooking our app -- maybe some customization utilities? Or you may need to update your display drivers? (They tend to have applications that hook apps and do lots of strange things.)

[2022-03-17 00:32] riverar commented on #1092
Oops, just realized you're on **21H2**. Let me re-test.

[2022-03-17 00:47] riverar commented on #1092
(Note: 19043.1586 and 19044.1586 are the same. Just an OS quirk.)

[2022-03-17 00:55] Venkinovec commented on #1092
Are there some other logs I can find besides those I sent ?

[2022-03-17 01:02] riverar commented on #1092
@Venkinovec Do you use MSI Afterburner? (https://github.com/File-New-Project/EarTrumpet/issues/268) Or Rivatuner? (https://github.com/File-New-Project/EarTrumpet/issues/536)

If not, please do the following:

1. Open Regedit, navigate to `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps`
2. Create a REG_DWORD value named `DumpType` and give it a value of 2
3. Reprod

[2022-03-17 01:05] Venkinovec commented on #1092
Actually.. both. You're definitely good at troubleshooting. Did not think myself that these could pose a problem.

[2022-03-17 01:07] riverar commented on #1092
You don't need to remove them but I think just update them to the latest versions. 👍

[2022-03-17 01:11] Venkinovec commented on #1092
Yeah, I'll update them and do investigation on behaviour of those three apps. I'll keep you posted in this issue.

[2022-03-17 12:05] Venkinovec commented on #1092
@riverar  After making investigation I've come up with this conclusion.
For this behaviour is responsible update of windows which is same as #536
Update RivaTuner fixed this issue, but if someone needs for a reason older version (like me) it's possible (and easy) to disable hooking on EarTrumpet.

Just add new profile for application, locate eartrumpet.exe and set detection level to NONE.
That's i

[2022-03-17 12:46] badaszszsz commented on #1079
Hello! Thanks for asking

Btw. I was not able to fix it nor find the reason. But I will try in the moment with English version...

**Q: Which version do you use?
Q: Is there any HD overlay/mod/plugin used by you?**

I think this is 1(.0).0.5 version...
![image](https://user-images.githubusercontent.com/86535475/158811267-f62cff4e-6630-412f-a390-ff8f7474b8ad.png)
![image](https://user-images.github

[2022-03-18 07:02] riverar commented on #1079
Hm, still works for me using the Polish executable.

![image](https://user-images.githubusercontent.com/475132/158952658-f4e97de4-cce4-4720-9428-7ab66913cd01.png)

I noticed in your screenshot, you're showing the Digital Output device. Can you click the chevron to expand the flyout and show all devices? Is the game perhaps on another device?

Can you also restart EarTrumpet, start/stop the game, t

[2022-03-18 19:21] migmarquez opened #1095 "audiodg appears as a program in the volume mixer interface"
### Summary

when we open EarTrumpet from the taskbar audiodg appears as a program in the volume mixer interface and it should not appear as it is a windows service.

### Steps to reproduce

Step 1: Click on EarTrump icon in taskbar

### EarTrumpet version

2.1.9.0

### Windows version

11

### Additional information

![image](https://user-images.githubusercontent.com/101899691/159070418-71a48a5c-

[2022-03-18 19:24] migmarquez commented on #1095
![image](https://user-images.githubusercontent.com/101899691/159070795-83f7119a-e6b0-4473-b232-f525c2f63b69.png)

[2022-03-18 19:30] riverar commented on #1095
Does this also show up in the Windows audio mixer? (Right-click EarTrumpet > Windows Legacy > Sound Settings > Volume Mixer)

[2022-03-18 19:35] migmarquez commented on #1095
![image](https://user-images.githubusercontent.com/101899691/159072133-059514e7-189a-48b2-8799-68d2e4f16ced.png)
apparently discord is duplicated in EarTrumpet and the second discord recognizes it as audiodg

[2022-03-18 19:38] riverar commented on #1095
I was looking to see what happens in the volume mixer located in Settings. (Right-click EarTrumpet > Windows Legacy > Sound Settings > Volume Mixer)

[2022-03-18 19:44] migmarquez commented on #1095
![image](https://user-images.githubusercontent.com/101899691/159073300-7258cc15-134c-491e-aab3-5b3fdbe684db.png)

[2022-03-18 20:09] riverar commented on #1095
Interesting. Any ideas on how I can reproduce this here? Are you maybe in a Discord call? Or watching a live stream/video?

[2022-03-18 20:17] migmarquez commented on #1095
![image](https://user-images.githubusercontent.com/101899691/159077124-36431932-b3b0-44a7-8870-0c51fe222110.png)
I have closed all my applications and it is still showing up, I am attaching a picture of all the mixers.
The weird thing about this is that after I noticed this I installed another program called Volume Control for Windows from the Microsoft Store based on the EarTrumpet source and tha

[2022-03-18 20:21] riverar commented on #1095
Fun! Open EarTrumpet Settings > General > About > Collect troubleshooting data. That'll dump the sessions and we can take a closer look at that audiodg.

[2022-03-18 20:23] migmarquez commented on #1095
[tmp6F16.tmp.txt](https://github.com/File-New-Project/EarTrumpet/files/8307450/tmp6F16.tmp.txt)

[2022-03-18 20:39] riverar commented on #1095
Yeah its a component in Windows Audio; it appears we're the only app behaving correctly but I'll take a closer look on my end. These built-in apps may be filtering out noise like this and maybe we should too.

[2022-03-18 20:53] migmarquez commented on #1095
evidently maybe audiodg being a service that is linked to the audio driver and the EarTrumpet operating system recognizes it as a program that is emitting a sound, but the solution could be to prevent eartrumpet from filtering this audiodg.exe and not include it in the mixer.

[2022-03-18 22:38] ParanormalBanana opened #1096 "Your Phone doesn't support audio output redirection"
### Summary

I am trying to switch the output of Your Phone app, because it's using the default audio output instead of the default communications output.

But eartrumpet can't change it, when I try to, it flickers in place and stays where it is, without getting reassigned.

### Steps to reproduce

start a call using Your Phone app
open eartrumper volume mixer
right click on your phone
click the d

[2022-03-21 06:28] riverar commented on #1096
That's lame. Can you file this feedback (put a link to this issue in there) in Feedback Hub (WinKey + F)? Do so under the category **Apps > Your Phone**. After you're done, paste a link to your issue here and I'll also send it to the Your Phone team. Thanks!

[2022-03-21 10:06] #1092 closed

[2022-03-21 11:57] migmarquez opened #1099 "[Visual Bug] Volume bar doubles as the volume is raised and lowered in mixer"
### Summary

When we increase or decrease the volume in the mixer, the bar showing the volume percentage is duplicated on top of each other

### Steps to reproduce

Steep 1: Click on EarTrumpet icon located in taskbar
Steep 2: Turn up or down volume of any application

### EarTrumpet version

2.1.9.0

### Windows version

11

### Additional information

![image](https://user-images.githubuserconte

[2022-03-23 17:06] ParanormalBanana commented on #1096
Hi,

https://aka.ms/AAgd9kg

here you go !

From: Rafael Rivera ***@***.***>
Sent: lundi 21 mars 2022 07:29
To: File-New-Project/EarTrumpet ***@***.***>
Cc: ParanormalBanana ***@***.***>; Author ***@***.***>
Subject: Re: [File-New-Project/EarTrumpet] some apps won't get reassigned inside the eartrumpet volume mixer (Issue #1096)

That's lame. Can you file this feedback (put a link to this issue in

[2022-03-24 08:31] gus33000 opened #1102 "It is not possible to interact with EarTrumpet UI using an Xbox controller"
### Summary

When using an Xbox controller (or any Xinput device), it is not possible to navigate throughout EarTrumpet flyout, or EarTrumpet settings page, nor to change anything. This is however possible with the Windows native flyout and used to be working fine in old EarTrumpet versions.

### Steps to reproduce

- Connect an Xbox controller or any Xinput controller
- Open EarTrumpet flyout
- T

[2022-03-27 04:10] riverar commented on #1099
Not sure I understand. Can you maybe circle what you mean?

[2022-03-27 05:28] #775 closed

[2022-03-27 05:28] #841 closed

[2022-03-28 08:08] Sebastian-Specjal commented on #1072
I have the same issue with Windows 10 Pro 20H2 10.0.19042 Kompilacja 19042.
After restarting the application, I see active sound-broadcasting applications again

![Zrzut ekranu 2022-03-28 100055](https://user-images.githubusercontent.com/102511601/160353252-4fcd18b2-339f-41f6-8c51-dded81bd8de1.png)

[2022-03-29 19:54] DrHojo123 opened #1107 "Crashes as soon as it starts"
### Summary

I used this before and worked fine until today. Gives no error code each time I click it and view if it even loads task manger I see it for a second then goes off.

I did find another issue like this so I checked the event viewer and have a Application Error and .NET Runtime error which I will post below

### Steps to reproduce

Uninstalled and reinstalled from Microsoft Store clicked

[2022-03-29 20:56] riverar commented on #1107
@DrHojo123 That's not good :(

Do you use MSI Afterburner? (https://github.com/File-New-Project/EarTrumpet/issues/268) Or Rivatuner? (https://github.com/File-New-Project/EarTrumpet/issues/536)

If not, please do the following:

1. Open Regedit, navigate to `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps`
2. Create a REG_DWORD value named `DumpType` and give it a v

[2022-03-29 21:00] riverar commented on #1099
That's our [peak meter](https://docs.microsoft.com/en-us/windows/win32/coreaudio/peak-meters) feature, it's showing audio output on left and right channels. The top most set of bars represents audio output from all apps.

Make sense?

[2022-03-29 21:22] DrHojo123 commented on #1107
I sent the email to you with the dmp file linked by a onedrive.

[2022-03-29 21:27] riverar commented on #1107
Got it, looking now.

[2022-03-29 23:16] riverar commented on #1107
Apologies if this sounds like generic Windows advice, but .NET looks legit broken on this machine. Can you open an administrative command prompt and run `sfc /scannow`? Let's see if it finds anything.

[2022-03-29 23:31] migmarquez commented on #1099
o great is a feature then. it would be good to divide them a little more because this way it looks like a visual error.
maybe separating a little bit their distance or differentiating them with a little bit more faint color, by the way i have seen that they solved the audiolog error in the new version good work

[2022-03-29 23:38] DrHojo123 commented on #1107
That's strange considering I just reformatted it a few weeks ago, but ya I will do that now and will reply when it's done

[2022-03-30 00:01] DrHojo123 commented on #1107
I got this

Windows Resource Protection found corrupt files but was unable to fix some of them.
For online repairs, details are included in the CBS log file located at
windir\Logs\CBS\CBS.log. For example C:\Windows\Logs\CBS\CBS.log. For offline
repairs, details are included in the log file provided by the /OFFLOGFILE flag.

I even did a Dism /Online /Cleanup-Image /ScanHealth and that went throug

[2022-03-30 00:06] riverar commented on #1107
Interesting. I'm curious what's in that log -- anything .NET/CLR related? Any assemblies? Can attach the log here too if you'd wish. Sounds bad tho, not going to lie. 💀

[2022-03-30 00:08] DrHojo123 commented on #1107
[CBS.log](https://github.com/File-New-Project/EarTrumpet/files/8375699/CBS.log)

Feel free to look and I believe you. The strangest thing it started to happen when I deleted temp files on my PC that had old windows files which I've done in future before shouldn't cause issues so no idea if it's just timing or something in the old windows files was still acting as dominant.

[2022-03-30 00:17] riverar commented on #1107
Yep this is why.

[code]

As to fixing this, there's some guidance at [Microsoft Support](https://support.microsoft.com/en-us/topic/use-the-system-file-checker-tool-to-repair-missing-or-corrupted-system-files-79aa86cb-ca52-166a-92a3-966e85d4094e#:~:text=how%20to%20manually%20replace%20a%20corrupted%20system%20file%20with%20a%20known%20good%20copy%20of%20the%20file). You'll need to get clean copies

[2022-03-30 00:22] DrHojo123 commented on #1107
At least something was found, now the problem is where do I go to find clean ones.

I appreciate the help by the way.

[2022-03-30 00:23] riverar commented on #1107
I think I have a `10.0.22000.556` box handy, let me check. If so, I'll attach a zip with the files.

[2022-03-30 00:25] DrHojo123 commented on #1107
Go ahead and and take your time.

[2022-03-30 00:48] riverar commented on #1107
Shout out to @GoldenTao for the assist. Here you go:
[files.zip](https://github.com/File-New-Project/EarTrumpet/files/8375854/files.zip)

[2022-03-30 00:49] DrHojo123 commented on #1107
Password protected

[2022-03-30 00:50] riverar commented on #1107
@DrHojo123 `issue1107`

[2022-03-30 00:51] riverar commented on #1107
Closing this issue for now as it's not directly related to EarTrumpet (before I forget), but feel free to continue the discussion.

[2022-03-30 00:51] #1107 closed

[2022-03-30 00:58] DrHojo123 commented on #1107
Good man!! Doing that fixed the issue! able to use Eartrumpet once again thanks for the help!

[2022-03-30 00:59] riverar commented on #1107
We accept VISA and Mastercard.

[2022-03-30 03:01] Tharki-God opened #1109 "Not Working"
### Summary

well its showing installed in start menu. not in menu list and ms store. and when i try to install it from ms store it gives me error `Code: 0x80073CF9` and when i try to install from app installer it gives me error
App installation failed with error message: Windows cannot install package 40459File-New-`Project.EarTrumpet_2.1.10.0_neutral_~_725pr5jq8wr8a because a different package 4

[2022-03-30 05:18] BuggingYou commented on #1102
If this ever gets implemented please make it optional, because it conflicts with "JoyToKey" type of software and unfortunately Microsoft many years ago promised a way to disable Xinput on uwp apps and never actually provided it.

[2022-03-30 05:25] riverar commented on #1102
@BuggingYou Thanks great to know, thanks!

[2022-03-30 14:49] riverar commented on #1099
We haven't made any changes for audiodg yet.

[2022-03-31 10:33] krasa commented on #140
This is super annoying. Win 10.

@riverar please reopen

[2022-04-02 06:32] Aspari-Lore commented on #453
it's the same way on my machine, turns out that is this app minimizing the foreground app when it enter fullscreen. did't expect this. but after upgate to the lastest version of EarTrumpet the issue was gone for me.

[2022-04-02 06:40] 3941 commented on #453
Well that's great news, because indeed I chose to stay away from EarTrumpet for the time being.
I'll give it another try. Thank you very much for the update!

[2022-04-03 10:28] mrchanshares commented on #1099
So the left and right channels already designed and built-in?

[2022-04-06 06:08] thrik commented on #888
Hi, this is still happening for me. Commenting bc I saw this was to be fixed a year ago. I am using a 4k monitor so I'm not sure if that's adding to this.

![image](https://user-images.githubusercontent.com/326814/161906717-5dd222dd-7bda-41a0-944a-017a14e312d4.png)

[2022-04-06 06:11] riverar commented on #888
@thrik Can you share your version number?

[2022-04-06 06:12] thrik commented on #888
2.1.10.0

[2022-04-06 16:47] georgiouc opened #1110 "Windows Store Version, Gives this app licenses error"
### Summary

I have been using this app for a few months, works wonders, even replaced windows volume control.
Recently it refuses to boot, showing this error message

![whateve](https://user-images.githubusercontent.com/103134222/162025609-09970a2f-531d-47c0-ad03-4369e4149e0d.jpg)

I tried reinstalling, issue still occur

### Steps to reproduce

Simple boot/startup causes this

### EarTrumpet ver

[2022-04-06 18:17] riverar commented on #1090
Fixed in Windows 11 build 22593 https://blogs.windows.com/windows-insider/2022/04/06/announcing-windows-11-insider-preview-build-22593/!

[2022-04-07 06:05] riverar commented on #1090
I tested this on my machine and it's still broken. Investigating, sigh.

[2022-04-07 19:41] adavier commented on #941
Apologies for the hijack, but incase someone else ends up here via a search (like me) and the regedit fix doesn't work here is something else to check:

In my case it was after upgrading to Win11 Pro (HDR forced my hand). The above would happen, and then if I added the aforementioned registry keys, after a reboot they would be gone again.

The upgrade broke the Group Policies, which promptly nuked

[2022-04-07 22:03] riverar commented on #986
This should be fixed in EarTrumpet 2.1.10 now available in the Microsoft Store, chocolatey, and other sources!

[2022-04-07 22:03] #986 closed

[2022-04-07 22:04] riverar commented on #933
This should be fixed in EarTrumpet 2.1.10 now available in the Microsoft Store, chocolatey, and other sources!

[2022-04-07 22:04] #933 closed

[2022-04-07 22:04] riverar commented on #438
This should be fixed in EarTrumpet 2.1.10 now available in the Microsoft Store, chocolatey, and other sources!

[2022-04-07 22:04] #438 closed

[2022-04-08 12:44] Lumiukko opened #1113 "Switching main audio out device does not switch the applications anymore"
### Summary

**Expected behavior:**
When richt-clicking on the EarTrumpet tray icon and selecting another audio out device, all applications associated switched to that audio device. No individual assignment of application was necessary.

**Current behavior:**
See steps to reproduce.

**Suggested fix:**
Assuming this is an intended change, perhaps an option in the settings could help, so people ca

[2022-04-08 15:39] georgiouc commented on #1110
I can now confirm that this issue has resovled itself. I have not done anything

[2022-04-09 13:40] TheBeautyLlama opened #1115 "volume settings for yandex.music is not saving"
### Summary

before reboot
![изображение](https://user-images.githubusercontent.com/84794955/162576450-a4fa82b9-1946-46a5-80a0-e7c7440d19a2.png)
after
![изображение](https://user-images.githubusercontent.com/84794955/162576463-eb92d268-0352-4859-8c1f-d2ea685183ea.png)

### Steps to reproduce

launch yandex.music
reduce volume
close yandex.music
laucn yandex.music
volume settings will reset

### Ea

[2022-04-12 19:08] Spark010 opened #1119 "vr: ovverlay triggers volume change on scrolling"
### Summary

In vr using an overlay program  (xsoverlay, ovr toolkit using the stick to scroll, and daily ovr free (using the stick)   inputing a scroll event triggers a volume change from eartrumpet.

### Steps to reproduce

In steamvr  open the overlay program
in the overlay program spawn  a desktop
click on the ear trumpet icon then click out of it    (this step is not necesary but it makes it

[2022-04-13 18:12] riverar commented on #1090
OK really fixed this time in 22598 https://blogs.windows.com/windows-insider/2022/04/13/announcing-windows-11-insider-preview-build-22598/

[2022-04-13 18:12] #1090 closed

[2022-04-14 23:31] RedEyedRocker opened #1120 "Shortcut Key Bug"
### Summary

I originally set the shortcut key of "**Open Taskbar flyout**" to "**Alt+Oemtilde**" and it was working until one day it randomly stopped working even though the hotkey was still present. So, I cleared it to set it again but it no longer registered the "**Oemtilde**" after I held "**Alt**".

Then, I changed the hotkey to "**CTRL+Oemtilde**" instead and it is working fine until after a

[2022-04-15 19:47] Aryetis opened #1121 "VolumeMixer Draws out of screen"
### Summary

Once deployed the volume mixer expands itself out of screen. Making it impossible to grab the top audio device entry and thus minimize it.

![image](https://user-images.githubusercontent.com/4246001/163624776-b5ecb2fa-03b4-45f9-9416-2ed98935e87c.png)

### Steps to reproduce

1/ Get a load of audio devices
2/ Set the taskbar to "hide automatically"
3/ Expand the volume mixer

Top optio

[2022-04-15 19:50] riverar commented on #1121
Ouch, will get that fixed. Thanks for reporting.

[2022-04-16 00:32] TheRealKiake opened #1123 "Virus detection from Kaspersky"
### Summary

When i press a certain combination of keys it makes false-flag detection on kaspersky. Kaspersky automatically provides a block for the application so you can't re-use it unless you reinstall the program.

The type of virus that kaspersky use to label on eartrumpet is "worm".

### Steps to reproduce

Use any version of Kaspersky and press in order:
Shift+ctrl+windows+alt+f4 on your de

[2022-04-21 16:27] riverar commented on #1123
Thanks for the report. This is a false positive. I'll figure out how to get it whitelisted.

[2022-04-21 16:28] riverar commented on #1123
@TheRealKiake Can you try these steps? https://support.kaspersky.com/viruses/answers/1870

[2022-04-23 03:43] CaptCaboose commented on #977
I have been experiencing this too.

[2022-04-23 16:35] EfeKamil opened #1127 "Missing options when the Spatial Sound option is changed."
### Summary

The audio options disappear when you switch Spatial Sound settings. Just like Default --> DTS, DTS --> Default and such.

### Steps to reproduce

Just switch to Windows Sonic Audio in sound settings.

### EarTrumpet version

2.1.10.0

### Windows version

10.0.19044.1645

### Additional information

_No response_

[2022-04-23 19:40] MinekPo1 commented on #977
@CaptCaboose Note that relauching eartrumpet fixes the issue. This can be done by:

1. `Win` + `R` `taskkill /im eartrumpet.exe`
2. launch EarTrumpet again.

[2022-04-24 10:22] ylcz2014 opened #1128 "after use remote desktop client (ipad) to control pc :thinner size"
### Summary

after use remote desktop client(ipad) to control pc :thinner size

### Steps to reproduce

before use remote desktop client(ipad) to control pc :normal size
![image](https://user-images.githubusercontent.com/13727499/164971858-06be2650-b3fc-4a6e-9444-3a406626a884.png)

after use remote desktop client(ipad) to control pc :thinner size
![image](https://user-images.githubusercontent.com/

[2022-04-25 11:59] Bramgus12 opened #1129 "Icon looks weird in windows 11 light theme"
### Summary

As much as you might hate light mode user, I am one of them. The Icon just looks out right weird and pixelated on the light mode task bar.

### Steps to reproduce

I do not really have steps to reproduce this. Just install the app and observe in light mode.

### EarTrumpet version

2.1.9.26

### Windows version

10.0.22598.100

### Additional information

![image](https://user-images.

[2022-04-26 10:13] David20120918 opened #1130 "There is no sound"
### Summary

There is no sound when I start the PC

### Steps to reproduce

1.Restart your PC
2.Play music

### EarTrumpet version

2.1.10.0

### Windows version

10.0.19044.1645

### Additional information

[code]

[2022-04-26 20:16] hichemfantar commented on #1121
Was about to make an issue about this, definitely an annoying bug.

[2022-04-26 21:44] aragubas opened #1131 "Applications disappear from flyout after switching users"
### Summary

Applications disappear from ear trumpet when logging out and logging back

I have two users on my pc, one has ear trumped and the other doesn't
If i log out from the user that has ear trumpet, and log in into the user that doesn't have it installed and log in again, all apps will be missing in ear trumpet window (even the system sounds slider)

### Steps to reproduce

Open ear trumpet

[2022-04-27 12:01] mrpenguinb commented on #453
Still occurring for me even with the latest dev version with The Sims 1 and other games :(

[2022-04-30 23:45] riverar commented on #1123
Closing for now, re-open if you need further help.

[2022-04-30 23:45] #1123 closed

[2022-05-01 04:23] riverar commented on #1129
@Bramgus12 This Insider Preview build is broken. Can you try the newest?

[2022-05-03 03:28] 13695024379 opened #1139 "The animations opened by this software in Win10 have dropped frames."
### Summary

Hello, I am a Chinese user. This software is excellent and provides a lot of convenience. However, in Windows 10 21H2, the animation displayed by clicking on the software on the taskbar has dropped frames. Please fix it, thank you!

### Steps to reproduce

None

### EarTrumpet version

2.1.10.0

### Windows version

Windows 10 21H2

### Additional information

_No response_

[2022-05-03 06:00] riverar commented on #1139
Hi @13695024379, we're aware of this (see https://github.com/File-New-Project/EarTrumpet/issues/391). It's a tough issue related to our use of acrylic, WPF, etc. Closing as duplicate.

[2022-05-03 06:00] #1139 closed

[2022-05-03 06:02] riverar commented on #1130
Hi @David20120918, doesn't look like this is an EarTrumpet issue. Try disabling EarTrumpet at startup and restart. Does audio return? Then start EarTrumpet. Does it disappear?

[2022-05-03 08:01] Bramgus12 commented on #1129
I updated to windows 11 version 10.0.22610.1 and updated to the ear trumpet version in the dev channel. This didn't change a thing for me. It is still broken.

[2022-05-03 15:20] Bramgus12 commented on #1129
I do not use remote desktop. The icon looks like this from when I start the machine.

[2022-05-03 15:42] riverar commented on #1129
@Bramgus12 Interesting, thanks. Can you right-click EarTrumpet, click EarTrumpet Settings > Collect troubleshooting data, then send that data to `team@eartrumpet.app` or if you're comfortable, put that in this issue?

[2022-05-04 11:56] Bramgus12 commented on #1129
I sent the log file to that email address.

[2022-05-04 11:58] Bramgus12 commented on #1129
Also, I've seen issues here also referencing an icon that looks weird. There it is mentioned that people use fractional scaling on their display. I just want to mention that I have a 1440p monitor and that I use 100% scaling in windows 11.

[2022-05-05 20:35] riverar commented on #1131
@aragubas I tried to repro this but can't. Can you provide a step by step on what you do/click on/etc.? Would appreciate it greatly.

[2022-05-05 20:41] aragubas commented on #1131
You will need two users: User A who doesn't have EarTrumpet installed and User B who have EarTrumpet installed.
First, you log in into User B, open some applications that reproduce audio and the applications will appear on ear trumpet as normal. Now you log off User B and login in into User A, and now you log off User A and go back to User B and all applications on EarTrumpet window will be gone.

[2022-05-05 20:43] aragubas commented on #1131
Sorry its not exactly logging off but switching users

[2022-05-05 20:43] riverar commented on #1129
Thanks, this continues to be an Windows Insider Build issue, thanks for your patience! Will report this upstream.

[2022-05-05 21:55] riverar commented on #1129
![image](https://user-images.githubusercontent.com/475132/167032004-ee901c2c-2039-4862-93e1-2585f7135efa.png)

Looks like Microsoft gave up on their new system tray for now and reverted all changes in 22616 (flighted today). EarTrumpet icon looks good now.

Can you verify?

[2022-05-07 05:51] riverar commented on #1129
Closing for now but feel free to continue the discussion.

[2022-05-07 05:51] #1129 closed

[2022-05-07 05:52] riverar commented on #1131
@aragubas Thanks! I can reproduce this.

[2022-05-09 08:11] B-W3ng opened #1148 "The panel is only partially displayed"
### Summary

音量调节面板中最下面的几个应用的音量调整会被任务栏遮盖，并且完全无法显示或者调出，就无法调节音量了。只有重启应用才能解决。

The lowermost apps in the volume adjustment panel will be covered by the taskbar, and cannot be displayed or recalled at all, so the volume cannot be adjusted. Only restarting the eartrumpet can solve it.

### Steps to reproduce

当我右键打开原生windows的音量调节，并更改空间音效时，此bug必定被触发。

This bug will be 100% triggered when I right-click n

[2022-05-10 06:01] WalkingWithNero opened #1150 "Audio Routing Issue"
### Summary

Dark Souls: Remastered launched from Steam got once recognized and after restarting the Machine it didn't work anymore.

### Steps to reproduce

As described in the summary

### EarTrumpet version

2.1.10.0

### Windows version

10.0.19044.1682

### Additional information

_No response_

[2022-05-10 07:12] Bramgus12 commented on #1129
problem seems to be solved in the latest preview build of win 11.

[2022-05-12 21:33] riverar commented on #1150
![image](https://user-images.githubusercontent.com/475132/168171714-1e67450d-13a3-46d7-9925-a6753b5f82e9.png)

[2022-05-12 21:35] riverar commented on #1150
@WalkingWithNero Can you right-click EarTrumpet, click EarTrumpet Settings > Collect troubleshooting data, then send that data to `team@eartrumpet.app` (or provide it here). Thanks!

Also, can you check if the game shows up in Windows Settings > System > Sound > Volume mixer?

[2022-05-18 16:34] ArsenicBismuth commented on #90
Hi, I'm having this issue too, as it's very visible EarTrumpet is using my dedicated GPU (instead of integrated). I tried forcing it in my dGPU control panel & windows graphic selector, both fail (despite flawlessly working on others).

Is there a new version for the software rendering executable? Or is it implemented in the newer version (5 years later).

[2022-05-21 18:13] badaszszsz commented on #1079
Hi, I am sorry but cannot reproduce any longer :( Thanks for the protips, support and maintenance of application.

[2022-05-21 18:13] #1079 closed

[2022-05-21 19:22] ArsenicBismuth commented on #771
Definitely EarTrumpet problem since forcing it using both control panel & windows built-in setting doesn't work. I have no problem with other apps unless they have in-app GPU selector.

[2022-05-22 03:53] riverar commented on #1121
EarTrumpet 2.2.0.0 resolves this issue and is now available via the Store (and soon other sources).

[2022-05-22 03:53] #1121 closed

[2022-05-22 03:56] riverar commented on #1150
Closing for now, but please do re-open if you continue to have this issue.

[2022-05-22 03:56] #1150 closed

[2022-05-22 05:32] revanmj commented on #544
Any chance you could make GitHub releases with changelogs?

They have the benefit of being observable unlike single file in the repository ("Watch" at the top of the repository > Custom > Releases - then they show up on https://github.com/notifications page with each new release).

This way users wouldn't have to open the repository and search for the file each time to check what's new, they could

[2022-05-22 07:24] riverar commented on #544
Yep that's fair, will do.

[2022-05-22 09:16] Aryetis commented on #1121
Ok so this fix resolved the issue for the basic case.
But in some (edge) case the issue still occur.

Basically my setup is made of three screens :
- The main one, in paysage mode (1080p, display scaling 100%)
- The second one, in portrait mode (1080p, display scaling 100%)
- The third one, in paysage mode (1080p, projector, display scaling 125%)

And I can switch between two configurations by the

[2022-05-22 17:45] DanteDT opened #1164 "EarTrumpet fails to switch iTunes to another device"
### Summary

As 4th screenshot illustrates, this issue is only for iTunes. If headphones are plugged in *after* iTunes starts, EarTrumpet cannot switch audio to the new device (headphones) but seems to think that it has. Works fine for other players, ex. Firefox:
![et-fails-to-switch-itunes-01](https://user-images.githubusercontent.com/7212088/169708389-11c9f922-4a9f-4ccf-9f24-b5cc950dd38b.png)
![

[2022-05-22 18:02] riverar commented on #1164
Hey @DanteDT thanks for the report.

![image](https://user-images.githubusercontent.com/475132/169709072-9f898a94-1e36-42ba-963c-b65ede625446.png)

I added `windows-bug` as this is broken in Windows too. I also added `third-party-bug` as iTunes is frankly a bad app (likely purposeful) and doesn't appear to call audio APIs correctly.

Don't think you'll see a fix for this, I'm afraid. But two thing

[2022-05-22 18:04] riverar commented on #1148
Closing as duplicate of #977 #1049 and others. Thanks!

[2022-05-22 18:04] #1148 closed

[2022-05-22 21:07] DanteDT commented on #1164
Indeed, a bad app, and without a doubt purposeful! So turns the world with internecine tech subversions : )

I've reported the windows bug as you suggested - Feedback Hub.

[2022-05-24 14:08] michaelwrenn opened #1166 "Multiple EarTrumpet.exe appear in the taskbar settings - Win 11"
### Summary

Running Windows 11 Pro, Version	10.0.22000 Build 22000
In Settings -> Personalization -> Taskbar -> Taskbar Corner Overflow

There are multiple "EarTrumpet.exe" items listed.
![Screenshot 2022-05-24 090720](https://user-images.githubusercontent.com/4238761/170055560-2d6ed0a0-da7c-478d-861f-6df58e43a196.png)

### Steps to reproduce

It is unknown what is causing multiple instances to b

[2022-05-24 23:56] duk6046 commented on #947
There is another way, just change the grammar order.
"{Device} {Option} the default device + is or is not"
this is the simplest way.

[2022-06-02 23:11] MasterPuffin commented on #313
No just checked, even if loudness normalization is disabled the issue still occurs. Back to Spotify I guess...

[2022-06-08 23:36] veremenko-y commented on #956
Any news on that?

[2022-06-12 01:34] #1109 closed

[2022-06-20 20:06] LandonTheLightsome opened #1177 "Volume randomly fluctuation back and forth between set volume and exactly 20% lower than what its set to."
### Summary

Volume keeps fluctuating between the set value and exactly 20% less than the set volume back and forth. Everything except the set windows volume, system volume, and for some reason Discord is affected. I thought it was just visual for a while until today where I realized the volume is actually going up and down.

### Steps to reproduce

It's automatic at all times going up and down.

[2022-06-20 20:08] LandonTheLightsome commented on #1177
I just noticed that when right clicking discord, it has a sub category that IS affected even if it's initial volume isnt.
![Screenshot 2022-06-20 160726](https://user-images.githubusercontent.com/44343572/174671413-dbcab63d-a5d1-4984-8638-f5e429a73917.png)

[2022-06-25 19:23] aronooo opened #1184 "EarTrumpet crashes PC"
### Summary

I've been having a problem for 2-3 months but it has become increasingly annoying and I've not found a fix anywhere so I'm hoping someone can help me here. Sometimes (I really don't know what's causing it, it really seems to be at random), when I click on the eartrumpet icon in the taskbar my whole PC freezes and I cant see my cursor move or anything of the sort. Ctrl + alt + delete d

[2022-06-30 12:38] Cypherthegreat opened #1187 "Bug? Cannot control Discord sounds and screen sharing separately to discord voice calls whilst old windows mixer can."
### Summary

Amazing App however I would like to request a feature/bug fix
I use discord a lot, personally I love that on the classic windows mixer you can control the sound of the users in call separately to the sound of the discord app, i.e. if someone is screen sharing or joins a call you can lower that sound, whilst keeping the volume of the presenter high. In Eartrumpet there is only one volu

[2022-07-01 07:16] riverar commented on #1184
Hi @aronooo, sorry to hear about your machine freezing. EarTrumpet isn't directly responsible for that, but perhaps there's an audio driver/hardware issue here? Best advice I can give is to double-check you're using the latest drivers. Also consider restoring clock speeds if you're overclocked at all. You may also want to consider upgrading Windows to the latest release.

Closing this for now as t

[2022-07-01 07:16] #1184 closed

[2022-07-06 00:43] msu320 commented on #313
this issue is not specific to Eartrumpet and happens even without it installed. TIDAL needs to fix this long standing issue.

[2022-07-08 12:50] asasd5152 opened #1191 "EarTrumpet 2.2.0.0"
### Summary

![177561643-1f6b0345-575a-41fb-b37b-3f5dfc83f0af](https://user-images.githubusercontent.com/38377367/177993840-d6e155df-3201-4b42-b4f2-97541b34b615.png)

### Steps to reproduce

open

### EarTrumpet version

2.2.0.0

### Windows version

10.0.19044.1766

### Additional information

[tmpCD52.tmp.txt](https://github.com/File-New-Project/EarTrumpet/files/9072132/tmpCD52.tmp.txt)

[2022-07-08 14:24] binkr-pix opened #1192 "Crashing entire PC when playing Valorant"
I'm not sure why this happens but whenever I try to open Eartrumpet when playing Valorant my entire PC crashes, not just crashes regularly, I have to hard reboot the entire system

[2022-07-09 05:52] 1024mb commented on #1177
I'm having a similar issue, in my case the volume is going from 100 to 39 back and forth randomly, even when having the EarTrumpet window open the changes are visible.

[2022-07-11 00:26] RAPTORSK opened #1193 ""ERROR 0x80070422""
### Summary

Desde hace 2 días tengo el problema que el EarTrumpet no me funciona me comuniqué con MICROSOFT y me dijeron que el error no es de mi equipo, la aplicacion al parecer cuenta con un fallo al abrirse o instalarse ya que me sale este error: Mensaje de error en la instalación de la aplicación: Appinstaller operation failed with error code 0x80070422. Detail: No se puede iniciar el servici

[2022-07-12 23:08] ArsenicBismuth opened #1194 "Application stuck on an audio that has been disabled/disconnected"
### Summary

Sometimes (not to all device) you need to disconnect an audio device (or even the driver automatically switches between 2-3 devices). The problem arise when you have already set the device for certain apps, and that device is disconnected. Now you have now way to change its device from EarTroumpet, and yet you also won't hear its sound anywhere.

The only workaround was:

1. Disable e

[2022-07-17 13:46] Chowtown opened #1197 "Ear Trumpet Issue"
With the ear trumpet app, whenever I click on the speaker icon, it still looks the same as default and there aren't multiple sliders I can mess around with.

[2022-07-18 14:04] HydrantHunter commented on #574
After a bit of searching and testing, I've cobbled together an 'automated' workaround that saves the (admittedly minor) effort of having to quit and restart EarTrumpet after waking from sleep.

I realize the following instructions look like an impenetrable wall of text, but they aren't that complex - I just tried to be detailed enough so that nearly any skill level will be able to do it.

First is

[2022-07-18 14:24] kachunkachunk commented on #574
That's a fine workaround. On that note, can Ear Trumpet detect audio device additions and removals, and optionally kill and relaunch itself when this occurs? May be a desirable workaround for switching devices like the Creative line.

[2022-07-25 13:35] adan-ea commented on #1192
Valorant is known to have some trouble with a lot of computers, what makes you think that EarTrumpet is the reason here ?

[2022-07-25 14:58] riverar commented on #1192
Sorry to hear about your machine crashing. EarTrumpet isn't directly responsible for that, but perhaps there's an audio driver/hardware issue here? Best advice I can give is to double-check you're using the latest drivers. Also consider restoring clock speeds if you're overclocked at all. If you have a crash dump (`\Windows\memory.dmp`), feel free to zip it up and send us a copy/link (team@eartrum

[2022-07-25 14:58] #1192 closed

[2022-07-27 15:16] ryantheleach commented on #1187
@Cypherthegreat right click the discord icon, and it will fold out showing both instances.

![image](https://user-images.githubusercontent.com/141554/181284428-5461a015-e025-45b2-ab0b-69360df7f6cf.png)

[2022-07-30 13:43] KaleidonKep99 opened #1199 "EarTrumpet locks onto the mouse scrollwheel when in VR"
### Summary

While I'm in VR, and controlling the desktop through a desktop overlay such as XSOverlay, I like to change the volume of the programs by using the virtual scrollwheel on my Index Controller's touchpad.

For some reason though, after doing it once, EarTrumpet seems to lock onto that scrollwheel input even when I'm focused on other windows, making the volume go up and down as I scroll o

[2022-07-30 19:52] riverar commented on #1199
Interesting, I'll have to try this in my headset.

Sounds like your mouse cursor is not moving away from the notification area/EarTrumpet icon.

[2022-07-30 19:54] riverar commented on #1197
Sounds like you're not clicking the right audio icon.

![Welcome animation](https://user-images.githubusercontent.com/475132/181989913-d8574d7b-1c35-47e0-9b5b-ebacd32c0a2d.gif)

[2022-07-30 19:54] #1197 closed

[2022-07-30 19:57] riverar commented on #1193
0x80070422 maps to `ERROR_SERVICE_DISABLED`. Sounds like the Windows Update service might be disabled?

Closing this issue as there's nothing actionable here, but feel free to keep the discussion going.

[2022-07-30 19:57] #1193 closed

[2022-07-30 20:34] KaleidonKep99 commented on #1199
I don't think that's the case though, because I can interact with other things just fine, it's just that no matter what I do, the scrolling is always picked up by EarTrumpet even when I'm not focused on it.

[2022-07-31 03:41] riverar commented on #1199
@KaleidonKep99 Hm, not seeing any issues here in SteamVR w/ the Desktop window open. I hovered over the icon in the notification area, scrolled, works normally. Then moved away, scrolled in other apps, no issues. Tried also using hand and controller, no issues.

Can you provide repro steps that I can follow in SteamVR Desktop? If you need me to get the other software, I can do that too. Thanks!

[2022-08-07 03:23] rowancy commented on #1192
having the exact same problem, never hapenned before, formatted windows and downloaded latest version from win store and started to happen, im gonna remove the overclock on my gpu to see if that helps!

[2022-08-09 00:54] ChronoInferna commented on #1131
I am also having this issue; a quick restart fixes it I think but it is pretty annoying to have to restart it every time.

[2022-08-13 13:56] p5hema2 opened #1204 "ear trumpet volume control off screen"
### Summary

On a quad monitor setup the volume control is partly off screen and therefore not fully usable.

### Steps to reproduce

Use multiple Monitors.
The external Monitors are 4k.
The external Monitors have scaling enabled to 150%.

(Found no way to correct reproduce the error, it appears on all setting combinations. e.g.
Monitor 1,2,3 or 4 set to primary
addjusting scale
addjusting resolut

[2022-08-15 18:56] dobesv commented on #1164
I've noticed that if an app has the ability to change the output device in its own settings, EarTrumpet might not be able to control that.  EarTrumpet only redirects apps that are trying to use the default output device.

[2022-08-17 16:02] RaulFury opened #1206 "Volume flyout is offscreen when using many audio devices"
### Summary

Greetings,
When many audio devices are present on the system, it seems the Volume flyout will disappear off screen towards the top and this hides the top portion of the volume screen.

### Steps to reproduce

This is a constant issue, the only way to resolve this at the moment is to disable audio devices.

### EarTrumpet version

2.2.0.0

### Windows version

10.0.22000.856

### Addit

[2022-08-18 10:33] Ameer2002 opened #1207 "Eartrumpet flyout doesn't open when taskbar has auto-hide enabled and is on a secondary screen"
### Summary

The flyout won't open via shortcut key if the taskbar is on a secondary screen and is currently hidden. If I hit the windows key to bring up the taskbar, then hit the shortcut key the flyout comes out. I tried leaving the volume mixer open in the background, but doesn't fix the issue. If I disable taskbar auto-hide the problem goes away, so it is related to auto-hide.

I tried re-inst

[2022-08-19 17:25] tedulous opened #1209 "Audio does not switch back to main source after disconnecting/turning off bluetooth headphones after post shutdown"
### Summary

So I have speakers and bluetooth headphones, so I switch between the two when I'm working or playing a game. Usually after im done playing a game and decide to shut down my pc, I turn off my headset so that it reverts back to my speakers or my main source of audio. I mainly use chrome for whatever audio needs i have, so i constantly switch chrome specifically when going between headph

[2022-08-21 03:59] riverar commented on #313
This issue is pretty stale now and TIDAL remains broken, so closing for now.

[2022-08-21 03:59] #313 closed

[2022-08-21 04:04] riverar commented on #1177
Can you please restart EarTrumpet, then reproduce the issue (or wait), then collect fresh troubleshooting data (from Settings > General) and attach it here? I can't reproduce this yet.

[2022-08-21 04:05] riverar commented on #1187
Badging on our icons sounds like a good idea!

[2022-08-21 04:05] #1187 closed

[2022-08-21 04:10] riverar commented on #1194
When we redirect audio, we use an API in the OS to do so. Windows _should_ be handling these scenarios, but sometimes it gets stuck.

Type `Win+X`, select Settings, then go to System > Sound > App volume and device preferences (or Volume mixer on Windows 11). At the bottom of this page, click the Reset button to fix your issue.

Closing as a duplicate of #403 but I'll take another look to see if t

[2022-08-21 04:10] #1194 closed

[2022-08-21 04:11] riverar commented on #1127
Closing as dupe of #587 #1049 etc.

[2022-08-21 04:11] #1127 closed

[2022-08-21 04:14] riverar commented on #1199
Closing as dupe of #1119.

[2022-08-21 04:14] #1199 closed

[2022-08-21 04:15] riverar commented on #1119
@Spark010 As I mentioned in another issue (https://github.com/File-New-Project/EarTrumpet/issues/1199#issuecomment-1200341559), I'm not seeing any issues in the Oculus Quest w/ the Desktop window open. I hovered over the icon in the notification area, scrolled, works normally. Then moved away, scrolled in other apps, no issues. Tried also using hand and controller, no issues.

Can you provide repr

[2022-08-22 09:11] neube3 commented on #1164
Thank you @dobesv, you ended my week-long quest for a fix!

For future reference for others:
MS Teams has two audio outputs and only one of them would truly switch in EarTrumpet (the general sounds; the actual calls would claim they've switched, but were under the wrong device anyway).

After a windows update, MS Teams decided it will silently (pun kind of intended) reset sound output settings.

I

[2022-08-22 16:06] dobesv commented on #1164
Another approach might be to update the messaging / docs /UI for EarTrumpet to just specify that it allows you to customize the outputs *for apps that don't support this themselves*

[2022-08-23 11:07] xmha97 opened #1210 "Trackbar change does not play a beep sound on Windows Server 2022"
### Summary

Trackbar change does not play a beep sound on Windows Server 2022

### Steps to reproduce

1. Open the main pane from the system tray
2. Slide the "System Sounds" trackbar

### EarTrumpet version

2.2.0.3 (from Chocolatey)

### Windows version

10.0.20348.887 (Windows Server 2022)

### Additional information

You can use this code:
[code]

[2022-08-24 21:51] Spark010 commented on #1119
hello so here are the steps and software.
use wired mode   as I think virtual desktop medicate the problem + it's
impossible to go wireless on a cv1
 so  put the headset on.
launch steamvr.
 start an overlay app of choice   (currently I use xsoverlay, but it
happens with ovrtoolkit aswell when scrolling with the thumbstick
have chrome playing sounds or music or a video .
then using the captures of

[2022-08-26 16:32] D4n2021 opened #1213 "add autostart option for the volume mixer window"
So that we don't have to right-click -> EarTrumpet volume mixer leftclick every single time we log into windows. thank you

[2022-08-26 20:10] jakoinc134 commented on #941
same issue was happening to me, the bug still lives but the script for regedit fixed it.

[2022-08-29 18:08] TheMasterHacker commented on #1119
Is there a way to just disable the scrolling feature or maybe add a toggle? I have this same program incompatibility, I also use SteamVR and XSOverlay, it gets in the way sometimes and when im in vr im just used to closing the program all-together.

[2022-08-31 05:21] riverar commented on #1210
How strange, I can reproduce this. Appears to be an OS bug?

[2022-08-31 05:39] riverar commented on #1210
`System.SystemSounds.Beep.Play()` is not functioning on 20348.261 for me. Investigating.

[2022-09-04 17:04] riverar commented on #1210
Closing this OS issue in favor of the linked dotnet issue.

[2022-09-04 17:04] #1210 closed

[2022-09-04 17:07] riverar commented on #1213
Hey @D4n2021, sounds like a good idea. We're currently tracking feature requests over at https://github.com/File-New-Project/EarTrumpet/discussions. I'll close this one. Thanks!

[2022-09-04 17:07] #1213 closed

[2022-09-04 17:08] riverar commented on #1206
@RaulFury Can you collect troubleshooting data via Settings and provide the top 20 or so lines? Just interested in the DPI, OS build, etc.

[2022-09-04 17:12] riverar commented on #1191
Closing as there's not enough information to indicate an EarTrumpet issue here. Looks like there's a severe issue with Windows.Storage.ApplicationData.dll on this system.

[code]

[2022-09-04 17:12] #1191 closed

[2022-09-04 18:06] riverar commented on #1206
@RaulFury Also, is this with taskbar auto-hide enabled?

[2022-09-04 23:29] RaulFury commented on #1206
Hi Riverar,
Thanks for the reply and a great app!
I just tested and you are correct, this seems to occur only with the auto-hide taskbar enabled.
Here is the top 20 lines of the log:
version: 2.2.0.0
runtimeMinutes: 460
gdiObjects: 94
userObjects: 42
globalGdiObjects: 5397
globalUserObjects: 5397
handleCount: 769
releaseStage: production
osVersionBuild: 22000.1.amd64fre.co_release.210604-1628
osAr

[2022-09-04 23:45] riverar commented on #1206
@RaulFury Thanks, fixed in [3d819a9](https://github.com/File-New-Project/EarTrumpet/commit/3d819a968a4c2eff8bc5acfbb971db89be68c302).

Do you mind trying a dev build to verify it's fixed? https://install.eartrumpet.app/dev/EarTrumpet.Package.appinstaller

[2022-09-04 23:58] RaulFury commented on #1206
I can confirm the Dev build fixes the issue!
Let me know if you need something else, thanks!

[2022-09-04 23:59] #1206 closed

[2022-09-05 00:08] riverar commented on #1204
@p5hema2 Is this a laptop that is being docked/undocked? Are you using Start11?

[2022-09-05 02:29] #1099 closed

[2022-09-05 02:29] riverar commented on #1099
Closing as there's no work to do here, looks like there was some confusion around our peak metering feature.

[2022-09-05 02:30] riverar commented on #1110
Closing for now as there's no work to do here; it's sadly a windows bug. If you keep hitting this, please do let us know.

[2022-09-05 02:30] #1110 closed

[2022-09-05 08:22] p5hema2 commented on #1204
@riverar My laptop is docket.

Left --> Docking Station
Middle --> HDMI Laptop
Right --> Docking Station
Far Right --> Laptop Screen

Start11 --> No, doesn't even know what Start11 is.

[2022-09-05 20:47] riverar commented on #1207
Can't reproduce this on Windows 11 25193.1000. Could be a Windows 10 bug, investigating.

[2022-09-05 20:51] riverar commented on #1204
@p5hema2 Does restarting EarTrumpet fix the issue?

[2022-09-05 21:00] p5hema2 commented on #1204
@riverar yes

[2022-09-05 21:37] Ameer2002 commented on #1207
It's Ctrl+Shift+Q. I think I had tried rebinding to something else but the issue persisted.

[2022-09-05 21:41] riverar commented on #1032
This is normal behavior; this is a result of _listening_ to an input device (e.g. microphone, line in, etc.)

![image](https://user-images.githubusercontent.com/475132/188514666-b123d4c0-fabd-409b-80e5-479cbf31d57f.png)

Closing as there's no work to be done here at the moment. Thanks!

[2022-09-05 21:41] #1032 closed

[2022-09-05 21:51] Ameer2002 commented on #1207
I've just moved my taskbar to my 3rd monitor and tried this. I have the taskbar hidden, and not opened and sure enough the same shortcut binding works now. Really odd behaviour, I don't have HDR or anything like that enabled on the problematic monitor.

Sometimes, if I try the shortcut while the taskbar is hidden on the problematic monitor, it takes 3 or so presses of the shortcut to firstly bring

[2022-09-06 00:10] di00ib opened #1220 "every audio destination is open when you left click on the icop"
### Summary

kind of hard to find the exact words to describe what I'm having an issue with. So, I'll explain best I can and attack a pic to show you where I'm stuck.
I left clicked to open the volume sliders like normal a few days ago. The normal list of volume sliders popped up. There's a little drop down arrow next to the name of the device that the audio is outputting to. Like the bluetooth sp

[2022-09-06 01:31] riverar commented on #956
Nothing is jumping out at me here that indicates there's an EarTrumpet bug so closing this for now. I'll keep an eye on CPU usage issues. If you find out more, let us know!

[2022-09-06 01:31] #956 closed

[2022-09-06 01:32] riverar commented on #1220
I believe this was just fixed in our `dev` branch. Is your Taskbar also configured to auto-hide?

[2022-09-06 03:39] di00ib commented on #1220
it is set to auto-hide

On Mon, Sep 5, 2022 at 9:32 PM Rafael Rivera ***@***.***>
wrote:

[2022-09-06 04:20] riverar commented on #1220
Cool. Duplicate of #1206.

If you would like a fix now, you can grab a dev build (see https://eartrumpet.app/). Or I'll prepare a release soon and push it out through the Microsoft Store.

[2022-09-06 04:20] #1220 closed

[2022-09-06 08:22] di00ib commented on #1206
used the dev build and was JUST BARELY able to see and click on the drop down arrow
also tried to replicate the problem to see if I could use the fix to go back to normal
it worked as it should
thank you very much riverar

[2022-09-06 08:23] di00ib commented on #1220
moved to that other #1205 thread you mentioned

[2022-09-06 19:30] di00ib commented on #1220
if you like I'll delete my original post since it's been handled already in
that other thread

On Tue, Sep 6, 2022 at 12:20 AM Rafael Rivera ***@***.***>
wrote:

[2022-09-08 07:48] EAZY5D commented on #1063
Try windows 11 22h2 Beta channel that should help with reproducing the bug I tried that on 2 laptops and I was unable to start ear trumpet without internet

[2022-09-08 15:11] xVenDooMx commented on #1209
Same issue here, i lost a device and in same time im lost control of google chrome audio...now my chrome is silent. Reboot or reinstall doesnt fix it.

[2022-09-08 15:21] riverar commented on #1209
Bluetooth audio is undergoing some changes in Windows 11. There's also the concept of disconnecting a device (i.e. due to power down) and unpairing (completely disassociating from a device) which may do different things audio wise. (I too have issues with Bluetooth.)

If you ever find yourself in a weird state where apps are associated with devices that no longer exist (a Windows issue) open the S

[2022-09-09 10:11] rp1231 opened #1223 "Windows subsystem for android icon doesn't show up"
### Summary

![EarTrumpet_XHOLjtZjqA](https://user-images.githubusercontent.com/47380919/189326811-f6f906b4-b184-40de-874f-5ffcac6eb39f.png)

Windows subsystem for android icon doesn't show up

### Steps to reproduce

Run Windows subsystem for android

### EarTrumpet version

v2.2.0.0

### Windows version

10.0.22000.918

### Additional information

_No response_

[2022-09-16 13:31] MikeyMike22 opened #1226 "Random order of output devices in volume mixer window"
### Summary

audio out output devices appear next to each other in random order instead of sorted by alphabet.

### Steps to reproduce

Have 3 audio output devices and name them after this scheme ("ABC" example name):
1 - ABC
2 - DEF
3 - GHI

Sometimes, the order is 3 -1 - 2 instead of 1 - 2 - 3, as can be seen in screenshot below.

### EarTrumpet version

2.2.0.0

### Windows version

10.0.19044.

[2022-09-20 14:56] xmha97 opened #1228 "UI bug in light mode"
### Summary

https://user-images.githubusercontent.com/23485114/191291190-2ec42038-1250-40a3-b563-546d37fca5cc.mp4

### Steps to reproduce

1. Hover mouse on title label

### EarTrumpet version

2.2.0.3 (from Chocolatey)

### Windows version

10.0.20348.1006 (Windows Server 2022)

### Additional information

_No response_

[2022-09-20 21:11] TooSpooky opened #1229 "UI Regularly Get's Cutoff"
### Summary

Hello,

When using eartrumpet the UI regularly gets cutoff and only fixes itself on restart it seems. It is fine for a bit upon restart and usually has this issue over time.

I am using it in conjunction with Taskbarx so apologies if it is an issue with taskbarx and not eartrumpet.

<img width="177" alt="YCqo6hsw9p" src="https://user-images.githubusercontent.com/21211292/191364977-e03

[2022-09-20 22:10] melonboops opened #1230 "No applicable app licenses found."
I've been using Ear Trumpet for a while now and never had an issue until I booted up my laptop to see this message. I've reinstalled Ear Trumpet and continue to see this message. I'm not sure if it's just me receiving this or if others are also having the same issue.

![image](https://user-images.githubusercontent.com/66756292/191373593-cc47d27e-95e5-4c6a-b4c4-db484a4a30a4.png)

[2022-09-20 23:49] riverar commented on #1229
Do you mind trying a dev build to verify this is fixed correctly? https://install.eartrumpet.app/dev/EarTrumpet.Package.appinstaller

Dupe of #1206

[2022-09-21 04:08] TDLCTV commented on #1204
Easy to reproduce but i think it's a bug from windows in general:
- Start windows on any normal screen without scaling (mine is set to 1440p scale set at 100%)
- Switch to any screen with scale different from the default screen scaling and make it primary screen (My TV is set to 4k scaled at 200%)
- Now ear trumpet is off screen and unusable until i restart the app
![image](https://user-images.git

[2022-09-21 20:39] TooSpooky commented on #1229
Sure, I'll give that a download to test it. Thanks!

[2022-09-22 03:34] TooSpooky commented on #1229
At least in quick testing that seems to have completely solved my issue, thanks!

[2022-09-22 03:47] riverar commented on #1229
@TooSpooky Woot! Will get this out to the mainstream shortly.

[2022-09-22 04:01] riverar commented on #1230
Hey @melonboops, this is a bug in Windows--not EarTrumpet--that comes to haunt users from time to time. (See also https://github.com/File-New-Project/EarTrumpet/issues/887.) I don't have much in the way of advice, other than perhaps installing EarTrumpet through non-Store sources (e.g. Chocolatey).

Closing for now as there's no work for us to do here.

[2022-09-22 04:01] #1230 closed

[2022-09-22 04:02] riverar commented on #1228
What are you expecting to see here?

[2022-09-22 08:10] TooSpooky commented on #1229
Hahah! Sweet, has worked for me all night. Made my volume control infinitely more usable. Thanks again!

[2022-09-22 09:42] TooSpooky commented on #1229
Hahah, spoke too soon. Jinxed it. Had it occur again after being asleep for a decent bit. But still a large improvement from before

[2022-09-23 00:32] TooSpooky commented on #1229
Sure thing. Yeah it stays like that until I restart the app.

I have a similar issue with taskbarx messing up after a decent sleep but they don’t happen at the same time so not sure they’re connected.

[2022-09-23 18:07] riverar commented on #1223
Thanks @rp1231, does it show up in the native mixer? (e.g. sndvol.exe)

[2022-09-23 19:36] riverar commented on #1223
Great thanks, will get this fixed.

[2022-09-23 20:08] riverar commented on #1223
@rp1231 Can you confirm this is working as intended in a dev build? (https://install.eartrumpet.app/dev/EarTrumpet.Package.appinstaller) Here's what I'm seeing:

![image](https://user-images.githubusercontent.com/475132/192048902-aa048790-8668-4b08-90ac-a2c9137fd69e.png)

[2022-09-23 20:21] riverar commented on #1223
I'm guessing this will go away after a reboot. We have several reports of the OS ShellItemImageFactory implementation being quirky... :(

[2022-09-26 19:27] TooSpooky commented on #1229
[tmpF847.tmp.txt](https://github.com/File-New-Project/EarTrumpet/files/9649102/tmpF847.tmp.txt)

Here you go. Took a good 4 days of use for it to occur again haha. So it's a lot better than before.

[2022-09-28 08:22] StudentWeis commented on #838
If it can be achieved, this is a good thing

[2022-09-28 11:15] xmha97 commented on #1228
The color of the text should not be light:
![image](https://user-images.githubusercontent.com/23485114/192765248-886161df-a95e-4f0b-8dcf-4f2885d18feb.png)

[2022-09-29 04:15] smirki commented on #341
+1 to this, it helped a ton!

[2022-10-02 01:54] riverar commented on #1223
@rp1231 Hm, shouldn't matter but can you send me the steps you used so I can reproduce it here?

[2022-10-02 03:57] AisinGioroKiIoi opened #1238 "Cannot distinguish between multiple Microsoft Edge SKUs"
### Summary

![image](https://user-images.githubusercontent.com/52952040/193437142-38b456cb-0724-42c6-a822-37dde6f75d1b.png)
如图所示，不同版本的浏览器，图示图标一样，不便分辨。希望能像浏览器自身那样，带上CAN、BETA、DEV的标识。

### Steps to reproduce

无

### EarTrumpet version

2.2.0.0

### Windows version

版本	Windows 11 專業工作站版 Insider Preview 版本	22H2 安裝於	‎2022/‎9/‎30 OS 組建	25211.1001 體驗	Windows Feature Experience Pack 1000.25211.1001.0

###

[2022-10-02 03:58] AisinGioroKiIoi commented on #1238
浏览器自身标识如图：
![image](https://user-images.githubusercontent.com/52952040/193437202-4d568801-3578-4d0c-88af-8a5c3c83cf2e.png)

[2022-10-02 05:12] riverar commented on #1238
We use the icon from the executable. We can't pull icons from random shortcut on the desktop as the application may be started from other locations.

![image](https://user-images.githubusercontent.com/475132/193438963-08311d51-f66a-4870-8edb-627351142bf4.png)

[2022-10-02 05:22] AisinGioroKiIoi commented on #1238
您可能误解我的意思了，我不是说从桌面获取图标。我只是从桌面图标举了个例子。无论是Edge还是chrome，它四个版本，无论在桌面还是任务栏上，都是不同的图标。Edge瀏覽器分别是无标识，带着CAN、BETA、DEV的标识的。谷歌浏览则是，无表示，带着B、D的标识的，无标示黄色图标的。而咱的软件中，四个版本都是相同的标识，不便区分。

[2022-10-02 05:23] AisinGioroKiIoi commented on #1238
您可能误解我的意思了，我不是说从桌面获取图标。我只是从桌面图标举了个例子。无论是Edge还是chrome，它四个版本，无论在桌面还是任务栏上，都是不同的图标。Edge瀏覽器分别是无标识，带着CAN、BETA、DEV的标识的。谷歌浏览则是，无标识，带着B、D的标识的，无标识黄色图标的。而咱的软件中，四个版本都是相同的标识，不便区分。

[2022-10-02 05:43] riverar commented on #1238
Windows has the same problem distinguishing between apps. Will investigate further.

![image](https://user-images.githubusercontent.com/475132/193439836-920bec53-2114-4a6a-9b51-680bf837e96a.png)
![image](https://user-images.githubusercontent.com/475132/193439842-cba2973c-066c-49fe-b036-f7edd0cf4acd.png)

[2022-10-02 05:49] AisinGioroKiIoi commented on #1238
好的吧，非常感谢。如果可以的话，也希望咱的软件能解决这个问题。毕竟对于部分用户来说，选择咱的软件，也是因为Windows原生应用功能比较弱一点。

[2022-10-02 05:50] riverar commented on #1238
@AisinGioroKiIoi I've reached out to the Microsoft Edge team to see what they think as well!

[2022-10-02 15:06] MJSummer opened #1239 "Can not remember CSGO's volume"
### Summary

if i restart my laptop, ET will set CSGO's volume to 100%, which is not my setting:50%

### Steps to reproduce

if i restart my laptop, ET will set CSGO's volume to 100%, which is not my setting:50%

### EarTrumpet version

2.2.0.0

### Windows version

10.0.19044.1826

### Additional information

_No response_

[2022-10-02 17:09] riverar commented on #1239
Hi @MJSummer. EarTrumpet doesn't remember any volumes, this is an OS function. Windows is supposed to do this, but as you're noticing it does so poorly. If you want, you can try EarTrumpet Actions in the developer builds and create an _action_ to automatically set the volume of CSGO to 50% on start.

Closing this for now as there's no work to be done here. But feel free to keep the discussion goin

[2022-10-02 17:09] #1239 closed

[2022-10-08 00:17] cvigue opened #1243 "Excessive Memory Use"
### Summary

While using the computer to do other things (VS Code, Wireshark, or just watch Netflix, doesn't seem to matter) the computer will suddenly start showing a lot of memory in use. Stopping various processes doesn't change much until I kill EarTrumpet. Killing EarTrumpet via Task Manager immediately frees around 10 or 15 GB (!) of memory and everything is OK. I can restart ET, and it does

[2022-10-08 00:28] riverar commented on #1243
@cvigue Wow, something is definitely fishy there. I'm only at ~26MB for the whole week. If you don't mind, would be great if you could get it to a high number again then go to Task Manager > Create dump file, compress it, then send a copy to `team@eartrumpet.app`.

[2022-10-08 00:30] cvigue commented on #1243
OK I'll reinstall and see what I can do. The things I do for love! :D

[2022-10-18 00:20] alexbobp commented on #71
@riverar This issue was never resolved and shouldn't be closed

[2022-10-18 12:17] Sanipachenko opened #1249 "Volume of certain applications restarted at 100% in some apps"
### Summary

In the new version of WhatsApp (2.2240.2.0) I set the volume to 5%, but when I restart the PC (hence Ear Trumphet), the volume goes back to 100%.
The same goes for some new ones like FallOut Shelter.

### Steps to reproduce

Volume set to 5%
Restart PC.
Volume restored to 100%.

### EarTrumpet version

2.2.0.0

### Windows version

Windows 11 22H2 (22621.674)

### Additional informati

[2022-10-19 06:25] flaredomon opened #1250 "Crashed in valorant"
### Summary

When I open the volume control of the software while playing VALORANT, the PC screen freezes.
Therefore, I have to go to reboot to fix it.

### Steps to reproduce

1:VALORANT PLAYING
2:START VOLUME CONTROL IN EarTrumpet
3:PC FREEZES

### EarTrumpet version

2.2.0.0

### Windows version

latest

### Additional information

_No response_

[2022-10-20 12:42] cgytrus opened #1251 "Flyout animation doesn't respect the correct OS performance option"
### Summary

The built-in volume slider's flyout animation is toggled when the "Animate windows when minimizing and maximizing" option is toggled, but in EarTrumpet it's toggled when the "Fade or slide menus into view" option is toggled

### Steps to reproduce

1. Go into the Windows performance options
2. Toggle "Animate windows when minimizing and maximizing" off and "Fade or slide menus into vi

[2022-10-21 03:32] DecafChan opened #1252 "Volume Mixer missing all other program volumes except Master volume"
### Summary

When clicking on the EarTrumpet icon in my tray area to pull up the Volume Mixer, it won't show programs that are currently open(Discord, for example) and will only display the master volume. I have to close and reopen the program to have it appear in the EarTrumpet Volume Mixer.

### Steps to reproduce

Seems to happen at random, but if I figure out the cause, I'll update.

### EarTr

[2022-10-22 15:54] q1k commented on #1252
How do I make it so it only shows the Master volume?

I don't want to see hundreds of programs when I open the volume slider.

Also, how do I make it open the classic Volume Mixer by default, instead of having to open a submenu for that?

[2022-10-23 10:35] Iaotle opened #1253 "Saved Actions doesn't support extended hotkeys"
### Summary

I'm using additional function keys (F13-F24) to trigger some events with AutoHotkey. Currently EarTrumpet does not support these keys when creating actions.

### Steps to reproduce

Try to create an action on the dev build, and press F24.

### EarTrumpet version

2.2.0.6

### Windows version

 10.0.22000.1098

### Additional information

_No response_

[2022-10-27 16:11] ppvnf opened #1254 "Main volume slider is at the wrong place (should be at the bottom)"
### Summary

There's a [discussion](https://github.com/File-New-Project/EarTrumpet/discussions/689) about this, but I believe this is a bug instead of feature request.

The correct position of the main volume slide in the sound menu is at the bottom (system icon):

![Captura de tela 2022-10-27 125029](https://user-images.githubusercontent.com/73800734/198339614-3d646b2c-10b1-4591-95e9-8c0971c4a948

[2022-10-27 16:15] riverar commented on #1254
This is not a bug; we designed it this way. I appreciate that some folks want it flipped though (#689).

[2022-10-27 16:15] #1254 closed

[2022-10-29 09:48] theardentgold opened #1256 "Discord Crash?"
### Summary

The app launches normally when I start up windows(screenshot 1) but it seems to have an issue with discord because when I open it, it resets and looks like this instead (screenshot 2). I also believe it has something to do with audiodg.exe because it shows up briefly before it cuts out, is there a way to like reset it or something?

### Steps to reproduce

Start-Up windows and simply

[2022-10-29 22:05] riverar commented on #1256
Does restarting EarTrumpet resolve this?

[2022-10-29 22:34] theardentgold commented on #1256
it only seems to be happening when I restart my pc, but restarting eartrumpet does seem to fix it,  it is kind of annoying restarting it all the time. I do use voicemeeter banana for switching audio from following this video https://youtube.com/watch?v=E_agZx1c_u0&feature=share&utm_source=EKLEiJECCKjOmKnC5IiRIQ but I can only get this to happen from the discord app. I think there is some kind of o

[2022-10-29 22:39] riverar commented on #1256
Yeah we're overdue for an overhaul of some of our internals. The Windows Core Audio API has a [particular recovery model](https://learn.microsoft.com/windows/win32/coreaudio/recovering-from-an-invalid-device-error) we need to adapt (on error, basically _start over_).

[2022-10-31 15:59] riverar commented on #1252
None of these are supported today, sorry.

[2022-11-01 11:18] bolololololo opened #1259 ""Search" appears as an app in EarTrumpet's list"
### Summary
I don't know if it's a bug but when I open EarTrumpet's panel it shows Search as one of the programs running. It might be related to Windows Feature Experience Pack that appears in the legacy mixer as shown below.

### Steps to reproduce
Step 1: Click on EarTrump icon in taskbar.

### EarTrumpet version
2.2.0.0

### Windows version
11 22H2

### Additional information
![gf](https://user

[2022-11-01 21:53] Livb-VRC commented on #1119
having thisnsame issue after upgrading to w11

[2022-11-01 21:54] Livb-VRC commented on #1119
happens with eartrumpet

[2022-11-02 13:29] 27Cobalter commented on #1119
In my environment, I use Valve Index as a VR device.
After clicking on the EarTrumpet icon in the task tray using XSOverlay, an overlay program for steamvr, and selecting another application window to scroll, the scroll event for the EarTrumpet task icon is The scroll event of the EarTrumpet task icon is called.
https://github.com/File-New-Project/EarTrumpet/blob/7c139dea113c1513d30e5b258902a814ac

[2022-11-05 17:14] Telekors commented on #403
Thank you! Holy shit you’d think Microsoft would make that easier to find

[2022-11-09 06:05] riverar commented on #1251
Adding to confusion, Windows 11 does not respect any of the older SPIs and instead looks at the Accessibility > Visual Effects > Animation effects setting as a discrete on/off. [facepalm]

[2022-11-09 06:32] riverar commented on #1251
Fixed in a207c648, thanks for your patience. Will push out in next update.

[2022-11-09 06:39] riverar commented on #1250
Not likely an EarTrumpet issue. Suspect audio drivers or hardware related issues. Re-open if you have more information to share!

[2022-11-09 06:39] #1250 closed

[2022-11-09 17:16] riverar commented on #1251
Thanks for your patience. Update 2.2.1.0 is now available via multiple channels. Closing.

[2022-11-09 17:16] #1251 closed

[2022-11-09 17:16] riverar commented on #1228
Thanks for your patience. Update 2.2.1.0 is now available via multiple channels. Closing.

[2022-11-09 17:16] #1228 closed

[2022-11-09 17:16] riverar commented on #838
Thanks for your patience. Update 2.2.1.0 is now available via multiple channels. Closing.

[2022-11-09 17:16] #838 closed

[2022-11-11 13:40] Florre4 commented on #1204
I have found the same issue, not sure if it's a bug in windows with the values that it gives for the screen resolution when calling the api or in EarTrumpet code.

My setup is a 4K monitor (left) and a 1440p monitor (right).
When I move the main taskbar to another monitor and then click eartrumpet for the First time, it either shows partly offscreen on the 4K monitor, or with an offset on the 1440

[2022-11-11 18:00] earthtoamelia opened #1267 "Audio coming out of devices simultaneously, no longer working"
### Summary

I use ear trumpet to allow system sounds to come from my speakers when my headphones are plugged in. This way I never miss a notification sound if my headphones are plugged in but not being worn. This worked for about a day. Soon after, the issues started. In the Ear Trumpet mixer, I have the volume up for both audio devices that are connected to the computer. Yet sound will only come

[2022-11-16 18:36] riverar opened #1270 "Menu items on settings don't update sometimes when Windows 11 high contrast theme applied"
Reference #24698815

Menu items on settings not visible on high contrast mode

Environment:
DesktopOS Build:19551, 19041, 18362
OS: Windows 10 Insider Preview, Windows 10
App Version: Found in 2.1.5.0 (reproduces in latest dev build)

Windows Experience Quality & Compatibility Team
Outreach and Engagement | Partner App Experience

![image](https://user-images.githubusercontent.com/475132/202264599

[2022-11-18 21:36] mkruselj commented on #468
Happens here on W10 Pro 22H2, too...

[2022-11-20 20:02] Taeleus commented on #227
Happening again. Same error. launched windows 11 today and all of a sudden eartrumpet cant be launched and cannot access windowsapps folder

[2022-11-25 03:15] maboroshin opened #1274 "Japanese .resx updates have stopped"
### Summary

Resources.en-JP.resx is no longer being updated from Crowdin. However, only two places are in the English original on this App.

### Steps to reproduce

See Resources.ja-JP.resx on GitHub

### EarTrumpet version

2.2.1.0

### Windows version

10

### Additional information

_No response_

[2022-11-25 19:16] riverar commented on #1274
Looking into this now.

[2022-11-25 19:19] riverar commented on #1274
Not sure I understand. We have a Japanese resource file here https://github.com/File-New-Project/EarTrumpet/blob/master/EarTrumpet/Properties/Resources.ja-JP.resx and it's 97% complete (same on Crowdin). Am I missing something? (en-JP is not valid.)

[2022-11-25 19:26] riverar commented on #1267
Hi @earthtoamelia! Simultaneous audio output is not something Windows or EarTrumpet supports.

Maybe your audio device manufacturer has a Stereo Mix or similar? (see screenshot)
![image](https://user-images.githubusercontent.com/475132/204044694-e6a52d6b-d562-4873-8567-e998deed15aa.png)

You can access the above window by right-clicking EarTrumpet's tray icon > Windows Legacy > Recording devices.

[2022-11-25 19:26] #1267 closed

[2022-11-25 19:27] riverar commented on #1256
Will close this for now as there's no Discord-specific work here, but the overhaul working is on-going.

[2022-11-25 19:27] #1256 closed

[2022-11-25 19:28] riverar commented on #1243
Will close this for now, but feel free to return / re-open when you return.

[2022-11-25 19:28] #1243 closed

[2022-11-25 23:15] maboroshin commented on #1274
I didn't explain myself well enough.

I can see below string finished in Crowdin  6 months ago: `Increase volume for all devices` (And `Decrease volume`)
![image](https://user-images.githubusercontent.com/41102508/204061584-400df46a-d228-4e1e-b211-15092b04a6c7.png)

In CHANGELOG.md, it became ver 2.2.1.0 a month ago. The above strings remain in English in this version 2.2.1.0.
![image](https://use

[2022-11-27 10:08] VeikkoLehmuskorpi commented on #1119
@27Cobalter Please do send a pull request! I would love to have this fixed as another Valve Index user.

[2022-11-27 11:12] 27Cobalter commented on #1119
The workflow for contributing to this project requires the approval of the development team on issues. I'm sure many Valve Index users have had this problem, but the problem is now tagged with status: can't reproduce. It may be necessary to have the development team @riverar confirm that this issue can be reproduced using Valve Index and XSOverlay instead of Oculus Quest.

[2022-11-27 11:41] Archomeda commented on #1119
I have the same issue with the Valve Index and XSOverlay. Does it really need to be confirmed as a bug by the dev team before a toggleable setting can be added? (also with the last reply being 3 months ago...)

[2022-11-27 17:11] riverar commented on #1119
I can try to reproduce this again, does anyone have repro steps I can follow?

[2022-11-27 17:57] 27Cobalter commented on #1119
Thank you for your quick response. I will write my reproduction procedure.

## Environment
- HMDs directly recognized by SteamVR like the Valve Index. Don't use virtualized ones like OculusQuest + VirtualDesktop.
(Maybe it happens with HTC Vive, but this issue seems to be happening more with Valve Index)
- Desktop overlay apps running on SteamVR such as XSOverlay. (I use XSOverlay)
- Windows 10 Ho

[2022-11-27 17:58] 27Cobalter commented on #1119
@riverar Thank you for your quick response. I will write my reproduction procedure.

## Environment
- HMDs directly recognized by SteamVR like the Valve Index. Don't use virtualized ones like OculusQuest + VirtualDesktop.
(Maybe it happens with HTC Vive, but this issue seems to be happening more with Valve Index)
- Desktop overlay apps running on SteamVR such as XSOverlay. (I use XSOverlay)
- Wind

[2022-11-27 18:23] riverar commented on #1119
Thanks @27Cobalter that looks great! Will try that out.

[2022-11-28 00:44] riverar commented on #1119
I was able to reproduce this with XSOverlay desktop windows (not SteamVR native desktop windows). Will reach out to the developer. If that doesn't work out, I can add a workaround that disables volume changes via scroll if `XSOverlay.exe` is running.

[2022-11-28 01:16] 27Cobalter commented on #1119
Thanks for trying.  I'm sorry I haven't checked, but @Spark010  seems to occur not only in XSOverlay, but also in apps such as ovr toolkit and daily ovr.
https://github.com/File-New-Project/EarTrumpet/issues/1119#issue-1202279328
It may be a SteamVR API issue, not an XSOverlay issue.

[2022-11-28 02:59] riverar commented on #1119
Fixed, standby.

[2022-11-28 03:13] riverar commented on #1119
Fixed in bc383f5a352acf7360070985329bc221fdae2b6a thanks for your patience!

[2022-11-28 05:42] riverar commented on #1274
Thanks, I see that now! Let me kick Crowdin a few times.

[2022-11-28 07:12] xgdgsc commented on #308
Maybe time to reconsider providing native arm64 builds with https://www.microsoft.com/en-us/d/windows-dev-kit-2023/94K0P67W7581?activetab=pivot:overviewtab and https://www.notebookcheck.net/Huawei-MateBook-E-Go-is-unleashed-as-a-new-Windows-on-ARM-2-in-1-with-a-2-5K-display-starting-at-just-over-US-600.647400.0.html .

[2022-11-28 07:41] riverar commented on #308
@xgdgsc EarTrumpet currently runs on .NET Framework, which has no ARM64 equivalent. Good news though, I already finished the port to .NET 6 which means native x86, x64, and arm64 builds. I just haven't merged it into `dev` yet. Stay tuned!

[2022-11-30 18:42] sdschramm opened #1276 "Volume slider highlight is backwards"
### Summary

I'm not sure how or why this issue started (maybe a recent update) but the colors and UI of the volume sliders have inverted. Instead of the highlight/color filling from low to to high, it's now filling the other way around and looks backwards. Please see included screenshot of the issue as well as my Windows color settings.

### Steps to reproduce

1. Click volume icon in task bar.
2